[2018-03-09 18:00] alban opened #2 "Arguments position not flexible: "create containerid --bundle dir""
When trying to run `crun` with arguments in the wrong order, it does not work but the error message is not so clear:
[code]

When using the correct order (`./crun create --bundle /home/alban/oci/c1 containerid`), it works.

I found this issue when trying to run the [OCI runtime validation tests](https://github.com/opencontainers/runtime-tools#testing-oci-runtimes).

runtime-tools seems to do the w

[2018-03-12 19:38] #2 closed

[2018-03-12 19:38] giuseppe commented on #2
thanks for the report.  Indeed that is confusing and crun must give a better error message, I've pushed this commit to address it:

https://github.com/giuseppe/crun/commit/651cec091e88ae1a837be8bf6abb0cc4bd478dcd

[2018-06-12 21:13] nneonneo opened #4 "crun does not compile with musl libc"
Under musl libc, `stderr` is defined as `(stderr)` in stdio.h, which breaks crun and libocispec because there's a `stderr` member in the context structure.

Per ISO C99, this is legal - `stderr` is allowed to be a macro (see discussion here: http://lists.llvm.org/pipermail/llvm-commits/Week-of-Mon-20130506/173524.html). So, the use of `stderr` as a structure member is not valid.

[2018-06-13 08:56] giuseppe commented on #4
@nneonneo thanks for the report.  I've pushed a fix to libocispec and updated the git submodule in crun.  Could you tell me if this solves the issue you have seen?

[2018-06-13 17:57] gyf304 commented on #4
There are also stderr members in crun. eg. https://github.com/giuseppe/crun/blob/74a9b440dc121cbb94d43138ea4796773b31de4f/src/crun.c#L57

[2018-06-13 18:11] giuseppe commented on #4
@gyf304 thanks, I have just pushed a patch to crun to rename stderr

[2018-06-13 18:43] nneonneo commented on #4
Thank you for being so responsive. A few more things:

- `stderr = context->errfile;` lines in `src/libcrun/container.c`: `stderr` is considered read-only (also allowed by the standard)
- `error.h` and the `error()` function is a GNU glibc extension; this can be simulated with something like `#define error(status, errno, fmt, ...) { fprintf(stderr, "%s: ", program_invocation_name); fprintf(stderr,

[2018-06-13 18:54] giuseppe commented on #4
@nneonneo do you already have some patches for crun?  I'll be happy to merge them

[2018-06-13 23:01] nneonneo commented on #4
Unfortunately, the patches I have are really hacked up - I just made it work with musl and almost certainly broke regular libc compatibility in the process. I contemplated doing it "properly" but I'm not sure on the following points:

- What is `stderr = context->errfile` for? Do you expect some downstream function will implicitly use `stderr` (maybe the `error()` function)?
- I have added `HAVE_E

[2018-06-14 08:38] giuseppe commented on #4
I think the `stderr = context->errfile` can be dropped, there should not be writers to stderr, IIRC I've added it just to be safe.

I pushed some patches to take care of the issues you reported, I hope they really did :-)

[2018-06-14 15:39] nneonneo commented on #4
Thanks! Looks much better now. Only the following issues:

- in `contrib/terminal-receiver/terminal-receiver.c`, you have
[code]
now which seems redundant
- I get the error `tests/init.c:24:19: fatal error: error.h: No such file or directory`, pointing to `#include "error.h"` (I think the include paths in the Makefile don't include any of the libcrun stuff)
- I get the error `src/libcrun/linux.c:1

[2018-06-14 16:02] giuseppe commented on #4
argh yes, that is redundant.  I wanted to take rid of `TEMP_FAILURE_RETRY`.

Thanks a lot for your feedback, I've just pushed some more patches.

Just out of curiosity, how are you going to use crun?  Are you trying to get containers running in an embedded/minimal environment?

[2018-06-14 16:16] nneonneo commented on #4
Yes, trying to get containers into an embedded Linux environment so we can run "application containers" in a highly reproducible and consistent way. Applications are very heterogeneous and deployment-specific so it is not enough to run them as separate users (for privilege separation and security). Most solutions are simply too large for this environment.

It compiles and runs now with no modifica

[2018-06-14 16:33] giuseppe commented on #4
thanks that was a bug indeed.  If status!=0 then it must be used to exit.  I've pushed yet another patch to fix it.  I am going to close this issue, please reopen if it is still not fixed

[2018-06-14 16:33] #4 closed

[2018-06-14 16:50] nneonneo commented on #4
Yep, thanks again for the very speedy response. Great project.
On Thu, Jun 14, 2018 at 12:33 PM Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-02-22 22:09] giuseppe opened #12 "SD_NOTIFY support for create/start"
add support for SD_NOTIFY when using `crun create` and `crun start`.

The current logic for handling NOTIFY_SOCKET must be changed so that we bind mount the parent directory of the notify socket.  In this way "start" can create the socket that will still be accessible from the container, since the parent directory is mounted.

[2019-02-22 22:11] giuseppe opened #13 "$PATH lookup before exec'ing the container process"
to be compatible with runC, we need to lookup argv[0] into $PATH once we are in the new mount namespace, so that `start` can fail immediately if the specified command doesn't exist.

[2019-03-13 12:19] giuseppe opened #22 "support for user.rootlesscontainers xattr"
when running as a rootless user honor the user.rootlesscontainers xattrs and emulate them through a seccomp from userspace trap: https://lwn.net/Articles/756167/

[2019-03-16 14:57] giuseppe opened #24 "refactor logging"
the logging (src/libcrun/error.c) is currently a mess, it needs to be simplified and polished

[2019-03-18 11:45] dmolik opened #25 "0.3 release is missing libocispec"
the folder is there but it is empty.

[2019-03-18 11:48] giuseppe commented on #25
it is a git submodule, could you run `git submodule update --init --recursive` to fetch it?

[2019-03-18 11:49] giuseppe commented on #25
I'll need to check how github deals with submodules when fetching the tarball

[2019-03-18 15:08] dmolik commented on #25
so I don't think git sub module is feasible, as the git directory is striped in a tag archive. Additionally running git submodule breaks convention in the build system I'm using. An alternative is to create a formal release and include an archive. Since you're using autotools this could be accomplished easily using `./autogen.sh && ./configure && make dist` then uploading the subsequent tar file t

[2019-03-18 16:02] giuseppe commented on #25
I've tagged a new release since there was much fixed/added since 0.3:

https://github.com/giuseppe/crun/releases

Could you check if this solves the issue you've seen?

[2019-03-18 16:03] giuseppe commented on #25
and thanks to have pointed out the issue.  From now on, crun will use the more formal release process :-)

[2019-03-18 16:54] dmolik commented on #25
OMG! Thank you very much!

[2019-03-18 16:54] #25 closed

[2019-03-27 10:37] dmolik commented on #24
would this be a good time to bring up logging to syslog?

[2019-03-27 11:05] giuseppe commented on #24
@dmolik if you need that, I can try to add it in the current mess :-)

Is it anything runc already does and we need to keep some CLI compatibility?  If not, would something like `--log=syslog:` be good for you?

[2019-03-27 23:09] giuseppe commented on #24
@dmolik I've opened https://github.com/giuseppe/crun/pull/28

It is still work in progress, but you can start using syslog, like `crun --log=syslog:` and journald as `crun --log=journald:`.  If not specified, they both use the container name as the identifier, otherwise they use whatever is specified after `:`.  So for example if you want to override an identifier in the logging, you can do:  `cru

[2019-04-04 14:08] dmolik commented on #24
Setting the facility name would be cool.

[2019-04-04 19:13] giuseppe commented on #24
I've implemented that functionality in the PR.

You can use `--log=syslog:IDENTITY` to override the identifier, otherwise it defaults to the container name.  Similarly for `--log=journald:`

[2019-04-04 20:41] giuseppe commented on #24
is that enough for you? :-)  Can I merge the PR?

[2019-04-10 07:25] AkihiroSuda opened #30 "documentation request: cgroup2"
It would be great to have proper documentation on what `resources` are supported and unsupported in cgroup2 mode

[2019-04-11 11:42] AkihiroSuda opened #31 "OCI runtime create failed: seccomp_rule_add: unknown."
crun @ b86fb1a42a75d5e27969a6bfcb190f683652cb52 does not seem to work with the latest Docker

[code]

[code]

[2019-04-11 14:42] giuseppe commented on #31
thanks for the report!  I am going to take a look, I can see only docker 18.09.5 from https://get.docker.com/.  How can I get the last version?  Should I build it by myself?

[2019-04-11 14:54] AkihiroSuda commented on #31
the latest version can be built from source, but I assume 18.09.5 is enough to hit the issue.

[2019-04-11 14:55] AkihiroSuda opened #32 "support building static binary"
I tried `./configure LDFLAGS=-static` but it did not produce static binary

[2019-04-11 15:58] giuseppe commented on #31
I'll improve the error message, but we are hitting: https://github.com/opencontainers/runtime-spec/issues/972

I wonder what to do in this case, should we ignore it or fail? :(  I am inclined to ignore it if we are adding it to the whitelist (i.e. action allowed) but keep the error message if we are trying to block it and we can't.  What do you think?

[2019-04-11 15:59] giuseppe commented on #31
looks like runc is just ignoring this error

[2019-04-11 16:01] AkihiroSuda commented on #31
ignoring would be better for runc compatibility, but it would be good to also support failing optionally

[2019-04-11 16:08] giuseppe commented on #31
opened a PR here: https://github.com/giuseppe/crun/pull/33

[2019-04-11 17:36] giuseppe commented on #31
Does it solve the problem for you as well?

[2019-04-11 22:45] giuseppe commented on #32
I've put together a hacky script to help building a static binary: https://github.com/giuseppe/crun/pull/34

/cc @vbatts

[2019-04-11 23:57] oxr463 commented on #4
@nneonneo , I can't seem to find your APKBUILD in any of the mailing lists or in patchwork. I would really like to see this in Alpine Linux.

[2019-04-12 05:55] AkihiroSuda commented on #31
yes, #33 works, thanks

[2019-04-12 07:04] #31 closed

[2019-04-12 17:51] giuseppe commented on #32
I've cleaned it up a bit.

You can build with:
[code]

@AkihiroSuda does it work for you?

I've already created and pushed the image to `quay.io/giuseppe/crun-builder` if you don't want to build it.

[2019-04-13 12:23] dmolik commented on #24
LGTM. Thanks! Sorry for the slow response.

[2019-04-13 14:42] dmolik opened #35 "Help debugging with cri-o"
I keep getting this when I try and create a container:
`level=error msg="Container creation error: writing file 'cpu.shares': Bad file descriptor`
[code]
Notice crio-UUID is missing
[code]

[2019-04-13 23:14] giuseppe commented on #35
thanks for the report!  I am currently working on support for CRI-O.  My WIP is here: https://github.com/cri-o/cri-o/pull/2239.

I am still seeing some issues in crun that prevents the integration and e2e tests to pass but I am working on it.

Is there a way to store the config.json file for the container that is failing?  That would make much easier to debug the issue, if not, I'll try to reprodu

[2019-04-14 15:59] dmolik commented on #35
[code]
[code]

[2019-04-14 17:28] mviereck opened #37 "How to use crun with docker?"
I would like to try crun as docker runtime. How can I set it up to use it with docker run option `--runtime=crun`?

I currently tried kata with `--runtime=kata-runtime` and find it quite interesting. It would be nice to try crun, too.

[2019-04-14 17:32] dmolik commented on #35
hopefully that's useful...

[2019-04-14 20:43] giuseppe commented on #37
are you using a config file (`--config-file`) for configuring Docker?

I've configured it passing `--add-runtime` on the dockerd command line.  To do so I modified the systemd service file adding `--runtime=crun=/usr/local/bin/crun`.

After that, you can either configure crun as the default runtime for Docker via `--default-runtime=crun` or you can specify it for each container with `docker run ..

[2019-04-14 21:01] mviereck commented on #37
I did not thought it could be that easy, thank you!

I have configured `/etc/docker/daemon.json`, providing runc, kata-runtime and now also crun:
[code]

I just had a successfull first test run with `--runtime=crun`.

[2019-04-14 21:01] #37 closed

[2019-04-14 21:08] giuseppe commented on #35
thanks, that is helpful.  I've added a patch that catches earlier the error in opening the cgroup directory, but that is not enough yet to address the issue.  What distro and kernel are you using?

[2019-04-14 22:43] dmolik commented on #35
Gentoo, kernel 5.0.7, openrc

[2019-04-15 10:24] dmolik commented on #35
this probably isn't helpful, but when I set the runtime to runc the .linux.cgroupsPath is created

[2019-04-17 07:41] giuseppe commented on #35
I've just merged some patches that let the CRI-O integration tests pass successfully (except for three tests that are dependent on a runc behaviour).  There were no changes needed in the cgroup part though, I'll need to look at this separately

[2019-04-17 11:06] giuseppe commented on #35
any hint on what is the quickest way to get access to your same environment?  I've tried a vagrant machine for Gentoo but it seems to get stuck.  If there is nothing easier, I'll try to go through the full installation

[2019-04-17 13:32] #32 closed

[2019-04-17 15:46] dmolik commented on #35
MacOS as the base machine?

Another option is a VPS, I use Gentoo on https://linode.com

[2019-04-17 15:46] dmolik commented on #35
I would say Alpine, but I don't think they have a cri-o package yet.

[2019-04-18 15:12] dmolik commented on #35
I compiled your patch, and I'm getting this in the cri-o logs:
[code]

[2019-04-18 15:24] giuseppe commented on #35
do you have anything under `/var/run/user/0/crun`?

I've seen that issue in the past, it depends on XDG_RUNTIME_DIR that is not always set.  I'll need to find a better way to address that.  I don't like much the way runc does it as it detect whether runc is running in a user namespace, but probably there are no better alternatives to it

[2019-04-18 15:25] giuseppe commented on #35
if you have anything under `/var/run/user/0/crun` then the best workaround for now is to ensure `XDG_RUNTIME_DIR` is not set at all for root

[2019-04-18 15:26] dmolik commented on #35
Okay I'll double check

[2019-04-18 15:26] giuseppe commented on #35
might be caused by 4966bb652adc350c9a43cb5931f2a5dc135b8580 that was recently merged

[2019-04-18 15:29] dmolik commented on #35
so on this machine I don't have a /run/user dir

[2019-04-18 15:31] giuseppe commented on #35
is `XDG_RUNTIME_DIR` set?

[2019-04-18 15:32] dmolik commented on #35
doesn't look like it
xargs --null --max-args=1 echo < /proc/2882/environ
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
_OCI_SYNCPIPE=3
_OCI_STARTPIPE=4
XDG_RUNTIME_DIR=
_LIBCONTAINER_CLONED_BINARY=1

[2019-04-18 15:34] giuseppe commented on #35
thanks to check this out, what about the CRI-O process?

[2019-04-18 16:14] giuseppe commented on #35
on my Linode Gentoo VM I don't see `XDG_RUNTIME_DIR=` set.

Could you revert 4966bb6 and see if that is the issue?

[2019-04-18 18:44] dmolik commented on #35
okay the crio process has no XDG_RUNTIME_DIR var, and reverting 4966bb652adc350c9a43cb5931f2a5dc135b8580 didn't seem to help

[2019-04-19 14:51] dmolik commented on #35
just pulled down master still unable to find /run/crun/<id>/status
I ran the test suite
[code]

[code]

[2019-04-19 18:43] giuseppe commented on #35
I'll give it another attempt in the next days (I am quite sure it is some weird interaction of XDG_RUNTIME_DIR).
In the meanwhile, I am working to something related and I've addressed some issues in the last days that are bringing CRI-O+crun closer to pass the Kubernetes e2e tests, progresses are tracked here:

https://github.com/cri-o/cri-o/pull/2239

(just Fedora for now, as the RHEL failures ar

[2019-04-19 21:53] giuseppe commented on #35
it seems it gets confused on Gentoo as there is no pids cgroup controller?

[2019-04-19 22:36] dmolik commented on #35
[code]

[2019-04-19 22:37] dmolik commented on #35
test suite passes now

[2019-04-19 23:19] dmolik commented on #35
crio conmon does have the XDG_RUNTIME variable but it's not set

[2019-04-23 12:28] giuseppe commented on #35
I finally managed to pass the Kubernetes e2e tests with CRI-O and crun

[2019-04-23 14:19] dmolik commented on #35
Coolio!

But, getting back to business. I compiled master this morning (eastern US) and I was still having the same status file not found error. So I searched for status in the Repo, and took a closer look at this function;

https://github.com/giuseppe/crun/blob/77836e488fb847e8d76264d8ad192698c4d5f482/src/libcrun/status.c#L32:L49

so on a whimsy I did a ls on / and there is was, the /crun folder.

[2019-04-23 14:34] giuseppe commented on #35
good hint!

So I guess the issue is in the XDG_RUNTIME_DIR to be defined but empty.  Is this patch making any difference?

https://github.com/giuseppe/crun/pull/44

[2019-04-23 14:53] dmolik commented on #35
I need a couple of minutes to finish up another task, I'll check as soon as I can

[2019-04-23 15:30] #35 closed

[2019-04-23 21:25] giuseppe commented on #30
writing it here for now as I am not sure yet where is the best place to put this information:

These are the cgroup v2 controllers currently supported and what values is possible to set from the OCI configuration.  Setting something not supported will result in an error.

The linear conversion is probably not the ideal way to convert between the different ranges.

# Memory controller
| OCI (x) | c

[2019-04-24 01:30] AkihiroSuda commented on #30
thanks, could you put it to manpage maybe?

[2019-04-24 15:24] giuseppe commented on #30
I'll probably add it there.  I am surprised by the tables rendered fine in the man page

[2019-04-24 15:31] #30 closed

[2019-04-24 15:31] giuseppe commented on #30
done, pushed a patch with the documentation!

[2019-04-30 11:40] Ox24 opened #45 "integrate crun into docker environment"
Hey there,

is it possible to integrate crun as a "runtime" in docker to use its ecosystem?
Like runsc from gvisor: [https://github.com/google/gvisor](url)

Adding it to the daemon.json like gvisor or something:

[code]

Being able to use it like this:

`docker run --runtime=crun --rm hello-world`

[2019-05-01 12:35] giuseppe commented on #45
that is possible.  You can use crun with Docker.  Does the reply here answer your question: https://github.com/giuseppe/crun/issues/37 ?

[2019-05-08 10:53] giuseppe commented on #45
@Ox24 have you had a chance to try it out?

[2019-05-08 11:28] Ox24 commented on #45
Hey, i will try it tonight and will close this issues if it is working..

[2019-05-08 17:51] Ox24 commented on #45
@giuseppe it works like a charm!

Just added :

`{
    "runtimes": {
        "crun": {
            "path": "/usr/local/bin/crun"
        }
    }
}`

to the daemon.json and being able to use --runtime=crun flag for "docker run"

[2019-05-08 17:51] #45 closed

[2019-05-08 20:51] giuseppe commented on #45
that is great!

[2019-06-02 15:14] babykart opened #48 "Tag 0.5 is broken at execution but not the master"
Hi,

Thank you for crun : it's really, really more fast than runc ... :1st_place_medal:
I'm actually using it in 2 little kubernetes/cri-o clusters and with podman.
I wrote an ebuild (Gentoo package: https://bugs.gentoo.org/687202) for the integration in my OS but the tag 0.5 is currently broken at execution with podman, some error like 'Bad argument[...]' , but it works fine with the commit f8187

[2019-06-02 15:26] dmolik commented on #48
I've been running crun with cri-o successfully at tag 0.5 on Gentoo, can you post the error?

https://github.com/D3fy/defiance-overlay/blob/master/app-emulation/crun/crun-0.5.ebuild

[2019-06-02 16:19] babykart commented on #48
With 0.5 (from https://github.com/D3fy/defiance-overlay/blob/master/app-emulation/crun/crun-0.5.ebuild):

<pre>
podman run --name bb -ti docker.io/library/busybox:latest sh
Error: container create failed: mount 'tmpfs' to '/vol/containers/storage/overlay/526cbbf1e1948210c1ff147da8e32d0fb600b817daa8def4ebfce450d11a6b9f/merged/dev': Invalid argument
: internal libpod error
</pre>

[2019-06-02 17:40] giuseppe commented on #48
I bet this commit fixes it: https://github.com/giuseppe/crun/commit/c926924a55ca6b4ba575925e78d4ee6b11b74aa6

I am going to tag a new release including the fix.

/CC @rhatdan @mrunalp

[2019-06-02 18:02] dmolik commented on #48
Oh sorry about the link I forgot, on my mobile.

[2019-06-03 06:00] rhatdan commented on #48
@giuseppe SGTM

[2019-06-04 22:40] giuseppe commented on #48
@babykart: just released 0.6: https://github.com/giuseppe/crun/releases/tag/0.6

[2019-06-04 22:40] #48 closed

[2019-06-05 11:54] babykart commented on #48
@giuseppe thx a lot!

[2019-07-04 02:51] kittyhacker101 opened #51 "Unable to build static image"
While following the provided directions to build a static image, I get the following error:
[code]

I'm using the latest commit (a4440ebb1c6ed9502fb42ae406bb3c606c0d5297), I have Podman 1.4.3 installed, and I'm using Manjaro Linux.

[2019-07-04 11:26] giuseppe commented on #51
looks like you are missing the fedora registry.

I've just pushed a new commit so that the image is fully specified.

Can you please try again with the last upstream version?

Please let me know if it worked for you

[2019-07-04 18:41] kittyhacker101 commented on #51
Now I'm getting this error:
[code]

[2019-07-05 08:13] giuseppe commented on #51
that looks like an issue with Podman now.  Are you able to use "podman build" with other Dockerfiles or in general does podman work fine?

[2019-07-05 12:06] kittyhacker101 commented on #51
It looks like the issue is with Podman, not crun.

Although, why can't you just have the compiler statically link the installed copies of the libraries, instead of using a container for linking those libraries? This is how almost every other program I've worked with handles static builds.

[2019-07-05 12:18] giuseppe commented on #51
I am using a container for different reasons, it can install libraries from source and not worry about cleaning up later, and especially it needs to support only one system (Fedora in this case, as the Dockerfile uses it as base image)

How would it work on Manjaro without a container?  Packages would have to be installed in a different way.

[2019-07-06 00:19] kittyhacker101 commented on #51
Can't you just assume that all the relevant dependencies have already been installed (and if they aren't, let the user figure out how to install them)? That's what I've seen a lot of build systems do.

[2019-07-06 09:03] giuseppe commented on #51
if you have all the dependencies installed, the you can just reuse what the `build.sh` script file does:

[code]

[2019-07-06 09:03] #51 closed

[2019-07-06 14:45] kittyhacker101 commented on #51
Thanks!

[2019-07-08 08:06] #12 closed

[2019-07-25 06:36] pwFoo opened #55 "Missing build dependencies"
Should be added to dependencies (fresh build environment inside of a ubuntu docker container):
- `autoconf` (./autogen.sh: 9: exec: autoreconf: not found)
- `python3` (configure: error: no suitable Python interpreter found)

[2019-07-25 06:38] pwFoo opened #56 "no-pivot option?"
To run inside of a ramdisk the `--no-pivot` option is needed?

[2019-07-25 09:48] giuseppe commented on #56
`--no-pivot` is unsafe as it inhibits most of the security benefits we have with a mount namespace and `pivot_root`.  In facts it turned into a security issue for runc: https://github.com/opencontainers/runc/pull/1962.
There are possibly other cases where this could be exploited, so I've preferred to explicitly drop it with 31d1cf1879d6a0a6b43d0399492a6d174f0c47e3.

[2019-07-25 09:49] giuseppe commented on #55
thanks for the report.  Is it fine to add them to the `README.md` file?

[2019-07-25 10:03] pwFoo commented on #56
Is there a workaround for that? Because I use runc (maybe switch to crun) in a custom initrd / ramdisk project. I'll add disk mount to that, but if no disk is there I still need to start some containers.

[2019-07-25 10:05] pwFoo commented on #55
I copied the dependencies from readme.md build section. So yes, should be fine to add it there.

[2019-07-25 10:09] #55 closed

[2019-07-25 10:09] giuseppe commented on #55
thanks, I've pushed a patch to add these dependencies

[2019-07-25 10:16] giuseppe commented on #56
I am not aware of any workaround (but I've not looked at all into that).  If that is blocking you from using crun, I could revert 31d1cf1879d6a0a6b43d0399492a6d174f0c47e3 and add some warnings to make sure people knows about the possible risks.

[2019-07-25 10:19] pwFoo commented on #56
Would be nice! At the moment missing `--no-pivot` would blocking me.
And warings should be added if it is unsafe!

[2019-07-25 20:45] giuseppe commented on #56
I've opened a PR just now.  Could you please verify if it works for you?

I'll add documentation/warnings later.  So far I've just verified that a simple container can run.

[2019-07-26 09:34] pwFoo commented on #56
Hi @giuseppe,
looks good to me!
[code]

Two other points I'll open new issues 👍

[2019-07-26 09:35] pwFoo opened #58 "Add container state to crun list?"
crun list misses the running / stopped state of containers as shown with runc.
Would it possible to add it?

Had a problem with tmpfs inside of a container and not noticed it until I tried to enter it (`crun exec <NAME> <CMD>`).

[2019-07-26 09:37] pwFoo commented on #58
runc list
[code]

[2019-07-26 09:39] pwFoo opened #59 "compatibility to tools which use runc"
I use https://github.com/genuinetools/img to pull / unpack images and it fails with:
[code]

It checks runc version first... :(

crun --version
[code]

runc --version
[code]

[2019-07-26 10:10] giuseppe commented on #59
could you open an issue with https://github.com/genuinetools/img?  I could fake the runc version here, but doesn't seem like the correct thing to do

[2019-07-26 11:00] pwFoo commented on #59
Ok, opened an issue: https://github.com/genuinetools/img/issues/255

[2019-07-26 11:00] #59 closed

[2019-07-26 11:52] #56 closed

[2019-07-26 12:29] giuseppe commented on #58
I've opened a PR here: https://github.com/giuseppe/crun/pull/61

Does it work fine for you?

[2019-07-26 13:14] pwFoo commented on #58
Looks like there is a single whitespace before container state?
[code]

Stopped / killed container shouldn't have the (old) PID?
[code]

runc changes it to PID 0 if no process is running.
[code]

[2019-07-26 13:58] giuseppe commented on #58
Thanks for the eagle eye check :smile:

I've pushed a new version, does it look better?

[2019-07-26 14:11] pwFoo commented on #58
PID and whitespace is fixed 👍

[2019-07-26 14:32] giuseppe commented on #58
if you are fine with the change as it is, I will merge it

[2019-07-26 14:36] pwFoo commented on #58
Yes, looks good. Tested with two containers (running, stopped).

[2019-07-26 14:38] #58 closed

[2019-07-26 15:49] pwFoo commented on #59
Workaround script...
[code]

[2019-08-09 15:40] mrguitar opened #69 "simple container builds fail w/ unified hierarchy"
The message below makes me think this is an issue between cgroups & runc. I'm not sure if this is the cause or symptomatic of something else.

STEP 1: FROM registry.access.redhat.com/ubi8
STEP 2: ADD --chown=1000:1000 ocp4 /ocp4
c9cd957f1685bbc1addeb9a8296ee140bc3ff14f116f09f793d95e4d5b658745
STEP 3: RUN yum install -y openssh-clients sudo; yum -y clean all
WARN[0000] signal: killed
ERRO[0000] con

[2019-08-09 17:35] giuseppe commented on #69
from the log it seems like runc is used instead of crun (there is no `process_linux.go` file in libpod).  What version of Podman are you using?  Could you pleaes confirm that Podman/Buildah are configured to use crun?

[2019-08-09 17:51] mrguitar commented on #69
yup that's it. Thank you. If I pass --runtime= to crun it works perfectly. I think this points to a podman bug though. I have the runtime defined in libpod.conf but it's not using crun w/ `podman build`. Thanks again.

[2019-08-11 21:27] giuseppe commented on #69
I've opened a PR to fix the issue in Podman: https://github.com/containers/libpod/pull/3785

[2019-08-12 10:48] giuseppe opened #71 "CRIU support"
crun should support checkpointing and restoring running containers.

[2019-08-12 10:50] giuseppe commented on #71
@adrianreber I've not even looked into it so I've no idea at all.  How much work would it be to add CRIU support to crun?

[2019-08-12 11:05] adrianreber commented on #71
Reading about crun I also already thought about it. Hard to tell how much work it would actually be, definitely doable

The bigger questions is how to communicate between crun and criu. runc starts criu in a special RPC mode and then transfers protobuf messages to criu. For a C based program there are two approaches, either the same as runc, but that requires protobuf-c to translate protobuf to C

[2019-08-12 11:21] giuseppe commented on #71
I think the libcriu approach is to prefer as I see it offers a nicer C integration.

I see no problems with the new dependency as long as we have a way to disable it at `./configure` time as we can do with systemd.  The dependency and the CRIU support can be enabled by default.

[2019-08-18 11:43] rhatdan opened #74 "Does not mount readonlypaths with user namespace."
[code]
Versus
[code]

I modify libpod.conf to use runc.
[code]

[2019-08-18 11:45] rhatdan commented on #74
FYI @nalind This was causing our issues with buildah in a container attempting to mount sysrq-trigger.

[2019-08-18 17:54] #13 closed

[2019-08-18 18:05] giuseppe commented on #74
@rhatdan I've opened a PR here: https://github.com/containers/crun/pull/75

[2019-08-18 18:12] giuseppe commented on #69
closing the issue as it was fixed in Podman

[2019-08-18 18:12] #69 closed

[2019-08-19 11:08] #74 closed

[2019-08-19 11:09] rhatdan commented on #22
@giuseppe Still planning on working on this?

[2019-08-19 11:09] rhatdan commented on #24
@giuseppe Should this issue be closed?

[2019-08-19 11:10] rhatdan commented on #71
Since we plan on defaulting to crun in Fedora 31, I think we need to get going on this. or CRIU will not work with it correct?

[2019-08-19 13:54] giuseppe commented on #22
I am still not sure how this should be done.  It could also be a OCI hook so that doesn't need to live in crun

[2019-08-28 12:31] carlosedp opened #77 "Docker reports error on parsing crun version"
Docker is reporting error on parsing crun version:

[code]

Docker is configured like this:

[code]

[2019-08-28 13:46] giuseppe commented on #77
Could you fill an issue with Moby?  We could easily work around it but I don't think there should be any assumption on the runtime version output if multiple runtime are supported, and should not be crun to lie about it.

[2019-08-28 13:49] #77 closed, assigned to nobody

[2019-08-28 15:30] giuseppe commented on #77
Can you please tag me on the issue once you open it?

[2019-08-28 15:56] cailca opened #78 "merge with runctst"
In the runc era, there is a testsuite called [runctst](https://git.sr.ht/~cai/runctst/tree/master/runctst.py) that has been matured in testing on RHEL and occasionally Fedora, which depend only on skopeo and python3-psutils.

crun has its own tests which are similar which seems have less testing coverage than runctst. Do you think it make sense to merge runctst into the crun tests to have one sing

[2019-08-28 21:01] giuseppe commented on #78
@cailca yes thanks, that will be helpful.  I've not added more tests as for Travis I am already using the oci-validation tests and the libpod tests.

Is there any reason why you'd like to drop these dependencies?  I think it is fine to have them for the tests.  Keeping the tests in Python is much nicer than handling JSON in C.

[2019-08-29 20:45] cailca opened #79 "Coding style"
I feel my eyes are suffering because the current code style uses 2-space indentation. None of the successful projects I am aware of are using this style. Could we adopt something like [kernel](https://elixir.bootlin.com/linux/latest/source/Documentation/process/coding-style.rst) or another well-known?

[2019-08-29 21:39] giuseppe commented on #79
it follows the GNU coding standards: https://www.gnu.org/prep/standards/standards.html#Formatting which is also the default when using Emacs.

Projects like Emacs, GCC, libc, sed, make, coreutils, GNU diff, wget... are using it.

Do they count as successful projects? :-)

[2019-08-29 22:20] cailca commented on #79
That’s fine. I’ll just get my eyes resting more.

[2019-08-29 22:20] #79 closed

[2019-09-05 05:03] llchan opened #83 "yajl found via pkg-config not used"
It seems that the `YAJL_CFLAGS` etc found via pkg-config are not used for the actual compilation.  I got it to work by appending it to all the `*_CFLAGS` in `Makefile.am` and `libocispec/Makefile.am`, but I'm not an expert in autotools and I'm not sure if that's the best approach.

[2019-09-05 11:00] giuseppe commented on #83
it was previously using pkg-config but it turned out to be difficult to use with the static build.

Would something like:
[code]

work for you?

[2019-09-09 17:33] llchan commented on #83
I wound up using something like this after trying something similar to your suggestion and combining it with what I saw in the static build script, to get a half-static build that links in the right yajl:
[code]
A little brittle-feeling, but works for now.

Have we considered using cmake/bazel/etc?  I might be biased since I'm not very familiar with autotools, but I think those may be easier to co

[2019-09-10 07:08] giuseppe commented on #83
if you are trying to build a static binary for crun, have you already considered using the `contrib/static-builder-x86_64` scripts?

You could do:

[code]

[2019-09-10 12:04] giuseppe commented on #78
@cailca is there any work going on for this issue?

[2019-09-10 12:45] cailca commented on #78
Unfortunately, no. I have been buried with something else at the moment.

[2019-09-11 14:22] rhatdan commented on #71
@adrianreber @giuseppe Any movement on this, or will CRIU be broken in F31?

[2019-09-11 14:22] rhatdan commented on #24
@giuseppe Can we close?

[2019-09-11 14:25] rhatdan commented on #83
Should we add a `make static` to do this automatically.

[2019-09-11 14:29] adrianreber commented on #71
I did not had a chance to work on this. So currently there is no CRIU support in crun from my side.

[2019-09-11 16:32] giuseppe commented on #24
yes, let's close it as there is no work going on and it is not really a specific issue

[2019-09-11 16:32] #24 closed

[2019-09-11 18:05] rhatdan commented on #71
Well then it will be broken in F31.

[2019-09-12 00:20] llchan commented on #83
@giuseppe I intended to link only yajl statically because it was a different version from the system yajl and didnt want to muck with rpaths, but I suppose I could do a fully static build via too.

@rhatdan The steps involving the contrib dir are fine, I found them via the README easily enough.  No need to add a new top-level make target on my account, though I am not opposed either.

[2019-09-16 17:32] carlosedp commented on #77
What do you think @giuseppe and @rhatdan ? Should we have something similar to how Docker parses the runtime to avoid swamping the log?

[2019-09-16 18:51] rhatdan commented on #77
I think having version on the line would make it easier to patch.  I would just split the line via spaces and take the last value.

Why does Docker wants these values in the first place?  Just for docker info?

[2019-09-16 23:34] carlosedp commented on #77
I think it’s the easier and faster option. I’ll submit a PR to address this. I believe it uses only for information.

[2019-09-17 02:01] carlosedp commented on #77
Opened https://github.com/moby/moby/pull/39940. I think that with this, changing Crun won't be necessary.

[2019-09-18 15:07] carlosedp commented on #77
I also opened the PR https://github.com/containers/crun/pull/93 to address this on crun.

[2019-09-18 19:07] nazar554 opened #94 "i686 containers crash on start"
Host: Arch Linux x86_64
Crun version: 0.9.1

How to reproduce:
`podman run --runtime=/usr/bin/crun -it --rm i386/debian:stable-slim`

Result:
[code]

Works fine with default runtime (`runc`).

[2019-09-18 19:08] nazar554 commented on #94
[code]

Seeing this in `dmesg` maybe related to syscall architecture and `libseccomp` ?

[2019-09-18 20:54] crosbymichael commented on #71
Thinking about this for a while, it would be nice to move this functionality out of "runc/crun".  I think it can be done.  Most of the runc specific code is around state management of the container.  It would be worth it to factor this out into higher layers and provide the correct hooks in crun to do this while being controlled from above.

[2019-09-18 21:00] giuseppe commented on #94
I've opened a PR here: https://github.com/containers/crun/pull/96

[2019-09-19 00:50] #94 closed

[2019-09-19 06:10] adrianreber commented on #71
@crosbymichael This sounds interesting. Could you describe your idea a bit more in detail? I like the idea but I do not yet understand how this would look like. What would be in crun/runc, what would be in the upper layers? How would those higher layers interact with crun/runc?

[2019-09-19 17:52] llchan opened #100 "seccomp version guards"
I'm building v0.9.1, and I'm seeing this compilation error:
[code]
Looks like these flags are new since linux 4.14/4.17. Can we add something to switch based on seccomp version?  Is this safe at runtime, if for example I run a static container-built binary on an older kernel?  If not, maybe we also need runtime checks.

[2019-09-19 19:11] giuseppe commented on #100
we already have a fallback at runtime (https://github.com/containers/crun/blob/master/src/libcrun/seccomp.c#L150-L154) so it should be already safe there.

Differently, we don't check at build time if these two constants are defined, I've opened a PR to address it: https://github.com/containers/crun/pull/101

[2019-09-19 19:36] llchan commented on #100
Awesome, thanks for the quick response :+1:

Regarding the runtime fallback, should it only fall back if `seccomp_flags == NULL`? i.e. if the user specifically requests flags and they fail with EINVAL, let it bubble up rather than silently setting no flags.

[2019-09-19 19:46] #100 closed

[2019-09-20 19:44] crosbymichael opened #102 "crun should output to log and stderr"
Runc logs errors to both, the log file and stderr for errors that are returned via the `main()` and some programs depend on these error messages.

https://github.com/opencontainers/runc/blob/master/main.go#L156

We should probably do the same in crun.

[2019-09-21 11:29] giuseppe commented on #102
@crosbymichael does https://github.com/containers/crun/pull/103 work for you?

If there is anything in particular you are testing, please let me know and I'll try to integrate it in the CI

[2019-09-23 13:26] crosbymichael commented on #102
I'm working through the containerd integration tests to get everything passing. Some changes are required in containerd and some are required here.  I'll test #103 today.

[2019-09-25 20:04] #102 closed

[2019-09-26 23:42] crobinso opened #106 "podman+crun fails after 'mock' run on host"
On Fedora 31, /proc/self/cgroup output is different after 'mock' is run on the host, I'm guessing due to systemd-nspawn usage. The new output confuses podman+crun, as well as libvirt.

* systemd bug: https://bugzilla.redhat.com/show_bug.cgi?id=1756143
* libvirt bug: https://bugzilla.redhat.com/show_bug.cgi?id=1751120

Before
[code]

After mock:
[code]

I'm not sure if the cgroup behavior is intent

[2019-09-27 06:19] giuseppe commented on #106
Hi Cole!  Thanks for looking into this.  This is an interesting setup, since having named hierarchies doesn't enable any controller on cgroups v1 so we should be able to use cgroups v2 without any of the limitations of a hybrid configuration.

I think that having the additional check in crun won't hurt, so a PR is welcome.

[2019-09-28 00:32] babykart opened #108 "Missing $HOME in env"
$HOME is a missing environment variable in running container with _crun_:
[code]
With _runc_:
[code]

[2019-09-28 20:40] giuseppe commented on #108
there is already an opened PR: https://github.com/containers/crun/pull/104

Do you have any chance to try it out and confirm it solves the issue you are seeing?

[2019-09-28 21:22] babykart commented on #108
I confirm: the patch 1c8755229ae99db0fce23f03f6415a4afab755bb fix the issue.

[2019-09-29 12:35] rhatdan commented on #108
Since I merged the FIX PR.  Closing.

[2019-09-29 12:35] #108 closed

[2019-09-29 16:08] leoluk opened #110 "fd leak and SELinux/AppArmor bypass (CVE-2019-16884)"
As discussed on IRC, creating a separate tracking bug for crun. Same issue as https://github.com/opencontainers/runc/issues/2128, same PoC with crun runtime.

See https://github.com/containers/crun/pull/109

runc has no dangerous fds to leak, but crun does, allowing for an easy escape:

[code]
[code]

podman specifies the volume mount first and then /proc, so it's not affected.

[2019-09-29 16:51] leoluk opened #111 "crun follows symlinks when creating mount points"
crun follows symlinks when creating mount points, allowing a malicious container to create arbitrary empty files in the host filesystem.

runc resolves the symlink relative to the container rootfs using SecureJoin and creates /opt/resolv.conf inside the container instead.

/CC @giuseppe @rhatdan @cyphar

[code]

Works with SELinux on.

Tested with crun at 66cd22cdff and podman 1.5.1 on Fedora 30.

[2019-09-29 17:33] leoluk commented on #110
PoC using `/sys/module/apparmor/parameters/enabled` on Ubuntu 18.04 with crun:

[code]

[2019-09-29 17:51] cyphar commented on #111
The obvious fix is to do the equivalent of https://github.com/cyphar/filepath-securejoin.

**However**, that library is not race-safe **at all** (see CVE-2018-18554 to see what I mean). I have been working on a race-safe version (which also makes use of new kernel features I'm working on), and that would be a better thing to eventually switch to (https://github.com/openSUSE/libpathrs). Unfortunate

[2019-09-29 18:08] cyphar commented on #110
Looks like there needs to be more file descriptors marked as `O_CLOEXEC` (I would suggest that you make it the default).

[2019-09-29 18:08] leoluk commented on #111
Yes, I've spent some time playing with that. It's possible to replace `/sys` and `/proc` in the rootfs with symlinks pointing somewhere else and the runtime will mount sysfs and bind sysfs and procfs there, but I haven't been able to abuse it usefully since everything will follow the symlinks, too.

[2019-09-29 18:11] cyphar commented on #111
What I meant is that you could create a symlink to `/proc` and then add a volume mount for that symlink -- the *host* `/proc` (inside the container's mount namespace -- though you have to be sure you mark everything as `MS_SLAVE` beforehand) gets mounted over. This results in the runtime program possibly being tricked by a fake `procfs`.

[2019-09-29 18:34] giuseppe commented on #110
yeah, there is a function to mark all fds as `O_CLOEXEC` but it runs too late.  It needs to run before the `pivot_root`.  In addition to that, I'll check what fds are leaked and already open them with `O_CLOEXEC`

[2019-09-30 09:32] giuseppe commented on #111
There is something similar to `SecureJoin` in crun based on https://git.busybox.net/uClibc/tree/utils/chroot_realpath.c.

I've done some minor changes to adapt it to crun, such as return partial resolved paths, and now to resolve also the last component.

I'll look into using https://github.com/openSUSE/libpathrs.

Do you have any example of using it from C?  Can it be used as a copylib?

[2019-09-30 09:45] cyphar commented on #111
Note that at the moment it is still in the "heavy development" phase -- I would appreciate feedback regarding the APIs. It definitely works as-is (I have some not-yet-pushed tests that use it with a Python FFI wrapper to double-check that CVE-2018-16554 attacks are defended against).

There is a trivial example in the README -- it looks like this:

[code]

The key interfaces all look like the abov

[2019-09-30 10:05] giuseppe commented on #111
From what I understood you'd like to get libpathrs packaged.  I was just wondering if I could just add it as a git submodule for now and start using it without waiting for packages.  Would you have anything against it?

Can I get a resolved path from a handle so that I can use it with `mount(2)`?

[2019-09-30 10:08] cyphar commented on #111
I am about to write a wrapper for `mount(2)` -- but what I just discovered above is that you don't need to get a resolved path for `mount(2)` (in fact the whole idea behind `libpathrs` is that paths are the wrong model because you can get symlink attacks). You can just mount over `/proc/self/fd/$n` and it will all work out (this is what I meant by magic-link unsafe).

[2019-09-30 14:58] #111 closed

[2019-10-01 11:31] #110 closed

[2019-10-01 15:26] #106 closed

[2019-10-01 16:46] rhatdan commented on #78
Totally untested
[ocitst.py](https://github.com/containers/crun/files/3677596/ocitst.py.txt)

[2019-10-01 19:52] nanonyme opened #118 "cannot configure rootless cgroup using the cgroupfs manager when starting container"
If I try to run toolbox create followed by podman start fedora-toolbox-31, I get following error (which is supposedly form crun)

[code]
crun-0.10-1.fc31.x86_64 https://koji.fedoraproject.org/koji/buildinfo?buildID=1393143

[2019-10-02 12:13] giuseppe commented on #118
are you running on cgroups v2?

That is just a warning from crun and should not block the container execution.

I'd suggest you to switch to `cgroup_manager = "systemd"` in the `~/.config/containers/libpod.conf` file as that will allow to do resources management with rootless containers on cgroups v2

[2019-10-02 12:57] nanonyme commented on #118
Sounds to me we should have that be default in Fedora 31 if it helps. Will test later today.

[2019-10-02 15:54] giuseppe commented on #118
PR for Podman here: https://github.com/containers/libpod/pull/4171

[2019-10-02 16:40] #118 closed

[2019-10-08 07:54] vrothberg opened #129 "crun hangs when an OCI hook exists non-zero"
Didn't look into the code yet but it's a reproducer in 100 percent of the cases.

[2019-10-08 15:40] giuseppe commented on #129
@vrothberg had a chance to try with the master version and the fix for OCI hooks that went in?

[2019-10-08 15:49] vrothberg commented on #129
Yes, still happening on my machine.

[2019-10-08 17:13] giuseppe commented on #129
could you provide me the reproducer?

[2019-10-09 11:01] vrothberg commented on #129
I can reproduce on F31 with the latest `crun` (master) and the hook from https://github.com/containers/oci-seccomp-bpf-hook. A quick reproducer is to let `main()` of the hook do an `os.Exit(1)`. The symptom is that podman/crun will hang.

[2019-10-09 12:14] giuseppe commented on #129
could you quickly verify what processes are running?  Is the "podman cleanup" process running?

[2019-10-09 14:15] giuseppe commented on #129
the issue I am seeing can be reproduced with:

[code]

podman hangs

[2019-10-09 15:45] giuseppe commented on #129
the issue I've seen is fixed with: https://github.com/containers/conmon/pull/76

[2019-10-10 10:43] rhatdan commented on #129
PR Is  closed, could you guys build a new conmon and verify that this issue is fixed.  Then lets get the new conmon released to Fedora 31.

[2019-10-16 02:05] ajayramaswamy opened #133 "bitwardenrs/server:alpine fails to run with crun on FC31 but works with runc on FC30"
1. I have podman 1.6.1 on a fc30 and fc31 host

2. runnning rootless

podman run --rm -it  bitwardenrs/server:alpine

starts and runs on fc30 with runc
failed to run on fc31
error message is -
Error: executable file not found in $PATH: No such file or directory: OCI runtime command not found error

so tried
podman run --rm -it  bitwardenrs/server:alpine /bitwarden_rs

which works fine
[error.txt](

[2019-10-16 10:17] giuseppe commented on #133
thanks for the report.  I've opened a PR to fix the issue: https://github.com/containers/crun/pull/134

[2019-10-17 04:12] AkihiroSuda opened #135 "device "rwm" check should not depend on the order"
https://github.com/containers/crun/blob/6365276b7d36a840aac05065e71a83ab16faa049/src/libcrun/cgroup.c#L1647

If I understand the spec correctly, "rwm" flag can be also written as "mwr"
https://github.com/opencontainers/runtime-spec/blob/v1.0.1/config-linux.md#device-whitelist

[2019-10-17 20:53] tobwen opened #138 "warning: remember to run 'libtool'"
I'm installing `crun` as non-root user to a local directory:
_GO_ stuff goes into `/home/podman/go` and installed stuff into `/home/podman/usr/`

After `make install` I'm getting this:
[code]

The last warning me a little bellyache. _Libtool_ is somewhere (found it it in `/home/go/src/github.com/containers/crun/libtool`) and `/usr/local/lib` is missing the prefix.

Sure, this is a special case, bu

[2019-10-18 07:02] giuseppe commented on #138
how did you configure crun?  Have you used `./configure --prefix=... && make install`?

In any case it is just a warning you can safely ignore

[2019-10-18 12:22] #135 closed

[2019-10-18 13:17] tobwen commented on #138
Oops, I've used `make install DESTDIR=${target@Q};` since some other targets didn't support the prefix on configure correctly.

I'll fix my building script, test it in some minutes and report about the results.

[2019-10-18 13:28] tobwen commented on #138
Yep, `./configure --prefix=...` worked. Thanks for help!

[2019-10-18 13:28] #138 closed

[2019-10-19 01:18] tiborvass opened #139 "error.h not found on alpine"
[code]

[2019-10-19 04:29] tiborvass commented on #139
I managed to get it to compile on alpine with https://github.com/tiborvass/libocispec/commit/3cda24ae13e15b00081ea8aaeb154a1537be8be3
and https://github.com/tiborvass/crun/commit/7323c9abf4f2b1c231574420151cd315ebe995d7 although I'm not super satisfied with replacing secure_getenv getenv when secure_getenv is missing.

[2019-10-19 10:42] giuseppe commented on #139
hi thanks for the patches.  I've applied the patch to libocispec and to crun.

When `secure_getenv` is missing, I think we can use the version defined in gnulib: http://git.savannah.gnu.org/cgit/gnulib.git/tree/lib/secure_getenv.c, that is distributed under LGPL3+.

I've changed your patch to drop the `#define secure_getenv getenv` bit, please let me know if it still looks fine to you.

I've opene

[2019-10-19 11:25] #133 closed

[2019-10-19 17:27] tiborvass commented on #139
Thanks @giuseppe!

[2019-10-20 11:35] #139 closed

[2019-10-25 09:52] giuseppe commented on #22
closing as it is out of the scope for crun.  I am convinced this should be handled in a OCI hook

[2019-10-25 09:52] #22 closed

[2019-10-29 19:59] smekkley opened #150 "/dev cannot be mounted when podman-run started with -t option."
/kind bug

$ podman --version
podman version 1.6.1

The following command fails with rootless podman.

[code]

The current workaround is to..
[code]

[2019-10-29 20:10] giuseppe commented on #150
opened a PR: https://github.com/containers/crun/pull/151

[2019-10-30 17:19] #150 closed

[2019-11-03 18:59] joaompinto opened #152 "Unable to find python3 headers"
I am running configure --with-python-bindings on Ubuntu 19.10, the configure fails because it is unable to locate the python3 headers.

As far I could understand, the problem is related to:
PKG_CHECK_MODULES([PYTHON], [python], [], [AC_MSG_ERROR([*** python headers not found])])
On Ubuntu 19.10 the python3  PKGCONFIG file is python3.pc, CHECK_MODULE is search only for "python.pc".

[2019-11-03 19:45] giuseppe commented on #152
thanks for the report.  I'll take a look at it.

While currently available, the python bindings are not really used/supported at the moment, just out of curiosity, are you planning on using them?

[2019-11-04 02:05] onlyjob opened #153 "auto-create state directory"
[code]

Perhaps `crun` should automatically create a directory when required.

[2019-11-04 03:15] onlyjob opened #154 "Introduction for beginners?"
I'm struggling to learn how to use Crun. Is there an intro with examples how to run a container, etc.?

Thanks.

[2019-11-04 09:11] giuseppe commented on #154
The easiest way would probably be to use crun through a container engine such as Podman or CRI-O if you care about Kubernetes.  FAIK, there is some work in progress for supporting crun also in containerd and in Moby/Docker.
I
If you'd like to use it directly, then you need a container image exploded on disk and already usable by crun since crun doesn't do any storage management.

Assuming you have

[2019-11-04 09:45] onlyjob commented on #154
Interesting. Thank you. I think this information belongs to README to make it clear how Crun is expected to be used.

So how to use Crun with Podman, specifically? Is it documented anywhere?

[2019-11-04 12:51] giuseppe commented on #154
in the Podman man page there is some info on how to configure and use a different OCI runtime:

https://github.com/containers/libpod/blob/master/docs/source/markdown/podman.1.md

[2019-11-04 13:40] joaompinto commented on #152
@giuseppe I don't have a "business" use case for it, but I would like to experiment more with container management, and I am more productive in Python, while most of the current container related tools/libraries are in Go. Because of this I have started a Python "pure" approach (https://github.com/joaompinto/pylibcontainer) but it stills a lot of work, and in mostly a wrapper around kernel syscall

[2019-11-04 14:39] onlyjob commented on #154
Thank you.

It is quite easy to plug Crun to Podman by having the following in the `/etc/containers/libpod.conf`:

[code]

[2019-11-04 15:44] rhatdan commented on #153
I guess this makes some sense, although It should return that no containers are running...

[2019-11-04 15:45] rhatdan commented on #153
@onlyjob interested in opening a PR to fix?

[2019-11-04 15:59] rhatdan commented on #152
Sounds cool.  Any help from you @joaompinto Would be appreciated.

[2019-11-04 16:17] giuseppe commented on #154
thanks for confirming it works for you.  Can we close the issue?

[2019-11-04 17:15] onlyjob commented on #153
Sorry, no... Too many things in my queue that I should take care of first... There will be weeks or even months before I could get to it... :(

[2019-11-04 17:21] onlyjob commented on #154
I was hoping for some changes to README - just a few words about how to use Crun with Podman and a few words that Crun is a replacement to Runc rather than an alternative to _rkt_, Docker, etc...

[2019-11-04 17:21] rhatdan commented on #153
No problem, never hurts to ask.

[2019-11-04 19:34] giuseppe commented on #154
yes that sounds like a good idea.  Would you mind to open a PR with these improvements for the README file?  I'll be happy to review it

[2019-11-05 07:31] AkihiroSuda opened #156 "invalid seccomp syscall 'io_uring_enter': unknown."
crun doesn't work with latest moby seccomp profile because crun doesn't support `io_uring_enter` .

https://github.com/moby/moby/commit/f4d41f1dfa52caa8f12b070315e230e7eded5f4a

[2019-11-05 08:17] giuseppe commented on #156
that is a libseccomp issue: https://github.com/seccomp/libseccomp/issues/177

There is not a release yet that includes that syscalls, but the version from master works fine

For Fedora, we are working on backporting these patches to libseccomp

[2019-11-05 08:37] AkihiroSuda opened #157 "`crun ps` is missing"
Moby depends on `runc ps` command for `docker top` implementation

[2019-11-05 08:38] joaompinto commented on #152
Since Python2 will be EOL soon, would be acceptable to provide Python3 only bindings ?

[2019-11-05 09:32] giuseppe commented on #157
I am fine to add `crun ps` but that is not part of the OCI specs.

Is `ps --format json` used?

[2019-11-05 09:36] AkihiroSuda commented on #156
Can crun ignore seccomp entries for unknown syscalls?

[2019-11-05 09:43] giuseppe commented on #157
I see that runc uses the cgroups to read the list of PIDs.

It should not be too difficult.

We already have this logic in libcrun (as part of `libcrun_cgroup_killall_signal`), we would need to refactor it out and expose the function to crun.

[2019-11-05 09:49] giuseppe commented on #156
wouldn't that be a potential security issue if the syscall is blocked?

And if we skip syscalls that are allowed, then the container can fail despite a correct configuration.

Are you using a static build for crun?  Perhaps we could build seccomp from git master there

[2019-11-05 10:08] giuseppe commented on #156
I've opened a PR for using seccomp from master: https://github.com/containers/crun/pull/158

[2019-11-05 11:35] giuseppe commented on #152
@joaompinto yes, we can use only python3

[2019-11-05 14:31] #156 closed

[2019-11-05 21:32] giuseppe commented on #157
I've opened a PR here: https://github.com/containers/crun/pull/159

It is not complete implementation but the `--format=json` output should be fine.

Could you check if it is enough for your use case?

[2019-11-06 00:10] space88man opened #160 "crun on CentOS 8: Error: cannot set limits without cgroups: OCI runtime error"
Error: cannot set limits without cgroups: OCI runtime error

So I tried using crun on CentOS 8 on a frankensystem with RPMs from Fedora 30 to get newer podman/conmon and crun

1. Host is CentOS 8; cgroups V1
2. podman is stock 1.0.5 and tried master branch
3. conmon is 2.0.2-1 (rebuilt from src.rpm)
4. crun is the Fedora 30 binary

Version:            1.6.3-dev
RemoteAPI Version:  1
Go Version:

[2019-11-06 00:12] mheon commented on #160
Are you running as root, or rootless?

[2019-11-06 00:15] space88man commented on #160
As root.

[2019-11-06 00:16] space88man commented on #160
[code]

[2019-11-06 10:10] giuseppe commented on #160
thanks for the report, crun was not really ever tested on CentOS 8.

Fortunately the fixes are trivial, and I've opened a PR for it: https://github.com/containers/crun/pull/161

To facilitate testing it, I've attached a compiled binary for Centos 8: [crun.gz](https://github.com/containers/crun/files/3813832/crun.gz)

[2019-11-06 21:38] #157 closed

[2019-11-06 22:23] #160 closed

[2019-11-06 23:27] space88man commented on #160
Confirmed that it works on CentOS 8.0 now. Just a note that for rootless containers the too-old slirp4netns won't work.

[code]

[2019-11-07 07:43] joaompinto commented on #152
I am thinking about the benefits vs effort of the work on this issue, taking in account that:

a) Distributing python packages with native library dependencies is tricky
b) Rewriting the crun (cli) specific features in Python provides little benefit
c) Many other "consumers" (e.g. podman ) are already using the binary runtime configuration

Are there some library features that might be interesting

[2019-11-07 09:28] giuseppe commented on #152
I've played slightly with them: https://github.com/giuseppe/oci-auto-capabilities/blob/master/oci-auto-capabilities.py but honestly I think there are not many benefits.  The same script can be written using the Podman CLI (even if with less control on the kind of the capabilities).

The OCI runtime works at a low level and many importants parts like storage or networking are out of scope.  This li

[2019-11-07 09:48] joaompinto commented on #152
Based on this assessment I am closing this issue, I will create a new one for the removal the current python bindings configure option and related documentation.

I will do some more research for a better option for a Python framework, eventually similar to "libpod" but without the podman dependency. A thin runtime layer: python3 (stdlib) + python-libpod + runc binary.

[2019-11-07 10:21] giuseppe commented on #152
I don't think we need to remove the current ones.  They can be useful if all you need is an OCI runtime.

[2019-11-08 07:38] AkihiroSuda opened #164 "Clarify how to report vulnerabilities"
How to report vulnerabilities should be clarified in the document.

[2019-11-08 08:33] AkihiroSuda opened #165 "`crun --version` should show git commit"

[2019-11-08 13:20] joaompinto opened #166 "Warn about missing uid mappings"
When running a rootless oci spec, and no uid mappings are set, a specific error message should be displayed. Now it fails with a mount error.

How to reproduce:
$ sudo mv /etc/subuid /etc/subuid.off
$ sudo mv /etc/subgid /etc/subgid.off
$ crun run config.json
2019-11-08T13:14:26.000942292Z: mount 'devpts' to '/home/jpinto/tmp/rootfs/dev/pts': Invalid argument
~/tmp

The behavior from runc:
$ runc

[2019-11-08 14:05] joaompinto opened #167 "Add option to list "created" containers which failed to start"
I am not sure there is a requirement to keep complete cli compatibility with runc, if is not the case, it would be interesting to have "crun list -a" to be able to list non started containers.

This would be somehow equivalent to "docker ps -a" .

Currently is hard to understand/debug scenarios like the following:

$ crun create my_own_id
2019-11-08T13:51:42.000586462Z: use --console-socket with c

[2019-11-08 14:16] rhatdan commented on #167
SGTM. @joaompinto Interested in opening a PR?

[2019-11-08 14:20] joaompinto commented on #167
@rhatdan. I will do, please let me know if there are any contribution formal pre-requirements.

[2019-11-08 14:21] rhatdan commented on #167
Nope, just sign your PR, and receive our gratitude. :^)

[2019-11-08 14:22] rhatdan commented on #165
Interested in opening a PR?

[2019-11-08 14:40] giuseppe commented on #166
the runc error message is different than crun.  runc is complaining about no mapping being present in the `config.json` file.  Instead crun behaves differently and it automatically tries to configure a user namespace for rootless containers (just today I've documented it: https://github.com/containers/crun/blob/master/crun.1.md#automatically-create-user-namespace).

Just to confirm it, is there an

[2019-11-08 14:50] joaompinto commented on #166
I am using the stock config.json provided from "crun spec --rootless" extended with the "user" namespace to avoid the warning from "automatically-create-user-namespace". There is no uidMapping in config.json.

[2019-11-08 14:51] giuseppe commented on #166
thanks, so I confirm that error message in runc refers to the lack of uidMappings in the `config.json` file.

[2019-11-08 18:33] giuseppe commented on #167
crun should already list the created containers.  I'd need to investigate that.  Is it reproducible?  Are you running the crun processes from the same context (i.e. same environment variables)?

[2019-11-08 21:08] joaompinto commented on #167
It's reproducible, I am not changing environment, please note that my description for "created" might be inaccurate for this specific test case. There is an error related to the missing --console-socket parameter, but there is a /run/user/1000/crun/container_id/ .

[code]

[2019-11-08 21:13] joaompinto commented on #167
Anyway, even after creating a container without getting cli errors, I don't get it listed:
[code]

[2019-11-08 22:13] giuseppe commented on #167
thanks for the extra info, could you verify if https://github.com/containers/crun/pull/169 solves the issue for you too?

[2019-11-09 08:30] joaompinto commented on #167
It solves. Thanks for the fix.

[2019-11-09 08:30] #167 closed

[2019-11-09 08:37] joaompinto commented on #153
I am not able to reproduce this issue:
$ ls -lrd /run/user/1000/crun/; crun list
ls: cannot access '/run/user/1000/crun/': No such file or directory
NAME PID       STATUS   BUNDLE PATH

[2019-11-09 08:53] joaompinto opened #170 "Container creation silently fails"
I am assuming the container creation failed because there is no /run/user/1000/crun/container_id/status

How to reproduce
[code]

[2019-11-09 09:00] joaompinto commented on #170
I was able to figure the issue with strace:

IMHO crun should check for the existence of the console-socket file and report an error.

[2019-11-09 10:05] onlyjob commented on #153
0.10.4 is definitely affected and the issue is easy to reproduce.

[2019-11-09 10:08] onlyjob commented on #153
@joaompinto, it may have been fixed recently by 2ba578da.

[2019-11-09 10:25] #152 closed

[2019-11-09 10:27] rhatdan commented on #170
Please open a PR to fix this if you can,

[2019-11-09 12:43] joaompinto commented on #170
Found the root cause to be a bug on libcrun_container_run_internal(), it checks for the result of  open_unix_domain_client_socket() but on failure iit returns the value of a previous function call (which is zero).

[code]

[2019-11-09 16:11] henrywang opened #174 "Fedora 31: Cannot run selenium/hub:3 image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After update to Fedora 31, the image selenium/hub:3 cannot get started and reports:
[code]
No this kind of error in Fedora 30.

The `selenium-hub` is started by supervisord.  And EACCESS error should be related with permission,

**Steps to reproduce the issue:**

1. run `podman run -d --name

[2019-11-09 17:43] joaompinto opened #172 "'created' state not changed after 'crun exec'"
After creating a container with "crun create" and executing sh on it with "crun exec", while the shell is being executed within the container, crun reports the container is in the "created" state.

Test setup:
- config.json: rootless spec
- rootfs: Alpine 3.10.3

How to reproduce:

In terminal 1:
`socat -d UNIX-LISTEN:/tmp/my_test_socket,fork TCP:localhost:8080`

In terminal2:
`nc -nvkl 8080`

In

[2019-11-09 19:00] giuseppe commented on #172
the state should change after you issue a `crun start`

[2019-11-09 19:01] #170 closed

[2019-11-10 01:33] onlyjob commented on #153
Fixed in 0.10.5. Thanks!

[2019-11-10 01:33] #153 closed

[2019-11-10 16:46] joaompinto commented on #172
I am finding a bit hard to understand the "state" meaning across different tools. I will put some questions and eventually update/create some documentation:

a) Is the container "state" only relative to the «main containter» "process" defined in config.json?
b) when the main container process finishes should all other processes (created by exec) terminated (in order to remove associated ns/cgroups

[2019-11-10 16:55] joaompinto commented on #166
I will submit a PR for crun to report "rootless requires the user defined in /etc/subuid and /etc/subgid"  when they are missing.

[2019-11-11 15:15] rhatdan commented on #166
Well crun will run fine without those entries.

[2019-11-11 15:44] joaompinto commented on #166
Please note that crun did not run fine on my system. Without those files, I got:
`2019-11-08T13:14:26.000942292Z: mount 'devpts' to '/home/jpinto/tmp/rootfs/dev/pts': Invalid argument`

[2019-11-12 02:21] giuseppe commented on #172
a) yes the state is only relative to the main process
b) they should be killed when you do a `crun kill --all` or `crun delete`.  They are also automatically killed if the container has a PID namespace.  It is a good practice to have a PID namespace.
c) create/start should be already race free.  Once the container is in the `created` state and `create` finished, `start` can be used.  Is there any

[2019-11-12 09:00] joaompinto commented on #172
@giuseppe thanks for the info

About the potential for race conditions this is a very high level «Did not look at the code» concern  with "crun exec".

[2019-11-12 10:36] joaompinto opened #176 "Provide crun static binary for amd64 on releases"
I am aware of contrib/static-builder-x86_64/ anyway it would be nice if we could get an upstream provided binary included in the release artifacts.

[2019-11-12 12:59] #174 closed

[2019-11-12 13:37] rhatdan commented on #176
Could you open a PR to create it.

[2019-11-12 13:40] joaompinto commented on #176
Ok, I will research for a travis example and test it on my own repo before the PR.

[2019-11-12 13:56] joaompinto commented on #176
For reference on what needs to done:
https://github.com/sharkdp/fd/pull/149/commits/bb8ca10f87547d222398d0267045ad1705e97e17

[2019-11-12 15:02] giuseppe commented on #176
I've opened a PR here: https://github.com/containers/crun/pull/177

I've added a script that I'll use to prepare new releases

[2019-11-13 16:10] joaompinto commented on #172
The issue was my lack of understanding of the "state" meaning.

[2019-11-13 16:10] #172 closed

[2019-11-13 16:42] joaompinto opened #180 "Add 'user' namespace to the --rootless generated spec"
Since "crun" already addresses the need of the 'user' namespace during rootless runs, shouldn't the rootless spec include that requirement ?

This would avoid the warning in a "clean" spec :)

[code]

[2019-11-14 14:59] giuseppe commented on #180
opened a PR here: https://github.com/containers/crun/pull/181

[2019-11-17 13:29] #180 closed

[2019-11-17 13:30] #176 closed

[2019-11-18 10:35] riyad opened #183 "v0.10.6: "No rule to make target '../.version'" for static build"
I just checked out the 0.10.6 release and used the instructions for the static build.
The build fails when executing `make -C contrib/static-builder-x86_64 build-crun CRUN_SOURCE=$(pwd)` with the following error:

[code]

[2019-11-18 10:56] #183 closed

[2019-11-18 11:00] giuseppe commented on #165
I've changed the way the version is generated to also include a part of the git commit if there is no tag for the current commit.

Could you please check if it works for you?

[code]

[2019-11-18 17:48] AkihiroSuda commented on #165
thanks, but I prefer runc-compatible output: https://github.com/opencontainers/runc/blob/b9b6cc6e47fe4f2aa4f744a1fc62d248c182d28d/main.go#L62

[2019-11-19 23:29] cryobry opened #187 "Permission denied: OCI runtime permission denied error"
When trying to `podman run` in up-to-date F31:
[code]
`podman info`:
[code]

[2019-11-20 06:46] giuseppe commented on #187
what is the command you are using?

Could you try with SELinux disabled (`setenforce 0`)?

[2019-11-20 14:40] cryobry commented on #187
With `setenforce 0`:

[code]

[2019-11-20 15:17] giuseppe commented on #187
thanks, so the issue seems to be related to mounting `/run` in the rootless container.  The container then tries to create a directory to bind mount `/run/secrets` since it doesn't exist on the host, but it has no permissions for creating it since `/run` is owned by root.

I'd suggest you use a tmpfs for `/run`: `--tmpfs /run`

I've verified and the same error happens with runc

[2019-11-20 15:22] rhatdan commented on #187
I thought -v /run creates a unnamed volume rather then a bind mount of /run into the container.
@mheon am I correct? Was this fixed recently and not in this version of podman?

[2019-11-20 15:31] mheon commented on #187
Yes, this is very recent - might not be in the latest Fedora release

[2019-11-20 15:57] cryobry commented on #187
Fedora 31 is currently using podman-1.6.2.

podman-1.6.4-0.22.dev.git225f22b is available in rawhide. Do you suggest I update?

What are the tradeoffs of using --tmpfs versus the unnamed volume (yes, I was under the impression that `-v /run` would create an unnamed volume, not a bind mount).

[2019-11-20 19:51] rhatdan commented on #187
@cryobry /run should be a tmpfs, the difference would be whether or not the content would survive the container stopping an starting.  My opinion is that /run should be cleared on stop/start so /run should be tmpfs.

[2019-11-21 16:43] rhatdan commented on #187
We need to release at least podman 1.6.3 to Fedora.  That is going to go into RHEL8.2 so we need some use of this in a distro.

[2019-11-21 21:55] mtrmac opened #189 "error stat'ing file '/run/user/0/crun': Invalid argument with older kernels"
When running c/image tests before https://github.com/containers/image/pull/744 is merged (essentially: Ubuntu Trusty host, running a Docker container of `fedora:latest`, inside it `podman run`), `podman` fails with

This can be worked around by updating the host from Ubuntu Trusty (kernel 4.4) to Xenial (kernel 4.15).

Apparently, what happens is:
- The failing code is, based on the error message,

[2019-11-22 02:23] rhatdan commented on #187
This is not a crun bug, it is a bug in Podman, and is fixed in the master branch.

[2019-11-22 02:23] #187 closed

[2019-11-22 08:32] giuseppe commented on #189
thanks a lot for the detailed analysis!

I've opened a PR to address it: https://github.com/containers/crun/pull/190

[2019-11-22 19:59] #189 closed

[2019-11-26 15:38] carlosedp commented on #165
Folks, my PR has been merged and latest Docker built from master shows correct versions and doesn't print the "unable to parse" messages into the logs:

[code]

[2019-11-26 15:41] AkihiroSuda commented on #165
GitCommit is still unfilled

[2019-11-26 17:49] carlosedp commented on #165
I've opened PR #192 for this.

[2019-11-29 16:26] #165 closed

[2019-12-05 15:19] edsantiago opened #209 "rawhide: --userns=[(empty) | container]: lots of EINVALs"
[code]
Same with `--userns=container`. Expected: something like `useruser:[4026533496]`

buildah-1.12.0-0.78.dev.gited0a329.fc32 on rawhide

kernel 5.4.0-0.rc0.git3.1.fc32.x86_64
conmon-2.0.4-0.3.dev.gitdf8c6aa.fc32.x86_64
container-selinux-2.123.0-0.3.dev.git0b25a4a.fc32.noarch
crun-0.10.6-1.fc32.x86_64

[2019-12-09 15:35] giuseppe commented on #164
opened a PR to address it: https://github.com/containers/crun/pull/199

[2019-12-11 18:21] #164 closed

[2019-12-13 03:11] edsantiago opened #215 "--pid=host: error waiting for container child process"
The following combination of `from` and `run` will occasionally fail:
[code]
When this happens, buildah completely hangs and cannot be killed from the command-line: `^C`, `^Z`, `^\` are all ineffectual. `killall buildah` from another shell works, and the loop continues, and I can then `^C` from the terminal.

It only seems to be `--pid=host`. I've tried `--net=host`, `--ipc`, `--userns`, `--utc`,

[2019-12-16 04:37] larsks opened #205 "Error creating cgroup directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman run -it --rm alpine sh`

**Describe the results you received:**

Attempting to start the container as above (as a non-root user) resulted in:

**Describe the results you expected:**

I expected the container to start.

**Additional information you

[2019-12-16 16:30] rohanlean opened #204 "Process spawned by podman exec is not confined by SELinux"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
The process spawned in a container by `podman exec` seems not to be confined by SELinux, although the container is.

**Steps to reproduce the issue:**

1. `mkdir foo`

2. `podman run --rm -it -v ./foo:/foo -w /foo --name foo busybox`, in the shell run `> test`

3. In a new terminal run `podman

[2019-12-17 09:32] giuseppe commented on #204
I am not able to see on Fedora 31 using your reproducer steps.  Why do you think it is connected to SELinux?
Does it happen every time?

Could you please share the output for `cat /proc/self/attr/current` for both sessions (the container run and the container exec)?

In any case, I've opened a PR so that now the SELinux label is copied from the original configuration file when the exec doesn't ove

[2019-12-17 09:32] giuseppe commented on #204
PR here: https://github.com/containers/crun/pull/207

[2019-12-17 09:32] giuseppe commented on #205
it is a regression, opened #206

[2019-12-17 09:44] rohanlean commented on #204
I thought it was connected to SELinux because SELinux should prevent access to `foo`, and after running the reproducer, `ls -lZ foo/` on the host shows
[code]
I can reproduce consistently.

Output of `cat /proc/self/attr/current` for `run`:
[code]

Output of `cat /proc/self/attr/current` for `exec`:
[code]

[2019-12-17 12:05] giuseppe commented on #209
I was wrong.  The issue is in crun:  https://github.com/containers/crun/pull/210

[2019-12-17 12:19] justincormack commented on #156
I think it is better to ignore unknown syscalls, otherwise it requires exactly synchronised updates of seccomp policies and libseccomp versions which is a huge burden on users. Many distros will not update libseccomp for new syscalls for kernels they are not shipping, so then you cannot change your seccomp policy at all, which makes default seccomp policies very difficult to implement at all. Almo

[2019-12-17 12:30] giuseppe commented on #204
thanks for confirming it.  My patch addresses that so the exec process also has `system_u:system_r:container_t:s0:c441,c792`.

Is there any chance you could try it out on your system as well?

[2019-12-17 12:36] #205 closed

[2019-12-17 12:39] #204 closed

[2019-12-17 12:42] #209 closed

[2019-12-17 13:59] giuseppe commented on #156
thanks for the explanation.  That makes sense to me.  I've added a patch to a PR I was already working on (just to avoid rebases) and I've switched the default to not fail when an unknown syscall is found in the seccomp profile: https://github.com/containers/crun/pull/211

[2019-12-17 15:10] larsks opened #213 "Enable branch protection on the master branch"
There was an erroneous force-push to the `crun` repository this morning. You can prevent this by enabling branch protection for the `master` branch, as described in https://help.github.com/en/github/administering-a-repository/configuring-protected-branches (and checking the "Include administrators" checkbox).

[2019-12-17 15:45] giuseppe commented on #213
thanks, I've enabled it now and confirm it works :-)

[2019-12-17 15:45] #213 closed

[2019-12-17 15:48] rhatdan commented on #213
We should do that for buildah, podman, storage, image  as well.

[2019-12-17 15:57] mheon commented on #213
I'm fairly certain Podman already has it enabled

On Tue, Dec 17, 2019, 10:48 Daniel J Walsh <notifications@github.com> wrote:

[2019-12-17 16:51] giuseppe commented on #215
@edsantiago by the way, great test case!

[2019-12-18 14:07] #215 closed

[2019-12-20 11:36] TeknoVenus opened #218 "crun exec fails"
#### Type

Bug

#### Affected Crun Version
[code]

Note this is running on an ARM platform if that makes any difference:

[code]

#### Issue

When attempting to execute a command in a running container with `crun exec`, it fails with the following error:

[code]

If I launch the container using runc (v1.0.0-rc9), I can use `runc exec` just fine. Seems to be isolated to crun.

#### Steps to Reprodu

[2019-12-20 14:13] giuseppe commented on #218
it looks like the kernel has no support for user namespaces.

Can you confirm it with `ls /proc/self/ns` ?  What output do you get?

[2019-12-20 14:18] TeknoVenus commented on #218
[code]

Since this test works correctly in runc, does runc not require user namespace support to work?

[2019-12-20 15:21] giuseppe commented on #218
yeah, it is not really required, just it was never tested without user namespace support.

When joining a container, if a namespace doesn't exist, then it should not be a fatal error

[2019-12-20 15:25] giuseppe commented on #218
could you try if this patch solves the issue you are seeing?

[code]

[2019-12-20 17:01] TeknoVenus commented on #218
Thanks for that - unfortunately will have to wait until after the holidays to test it again. Will reply once I've tested

[2019-12-23 15:05] giuseppe commented on #215
@edsantiago new release available here: https://bodhi.fedoraproject.org/updates/FEDORA-2019-743e6dffa1

[2019-12-23 15:34] edsantiago commented on #209
Confirmed fixed in crun-0.11-1.fc32

[2019-12-23 15:35] edsantiago commented on #215
Cannot reproduce in crun-0.11-1.fc32 over a 10-minute test. I'm calling this fixed, thank you.

[2020-01-03 15:10] TeknoVenus commented on #218
Sorry for the delay. Have tried that patch but unfortunately it didn't work. It no longer produces an error, but any command I execute runs on the host, not inside the container.

For example, if I do the same command as I did initially (`crun exec sleepycontainer ls`), I get a directory listing of the host's root directory instead of the container's root.

I tried the patch on v0.11.

Thanks.

[2020-01-04 09:46] giuseppe commented on #218
thanks for trying it out.  Unless you'd like to take a look at it, I'd need to build a kernel without user namespace support and see what is going wrong here.

[2020-01-06 11:03] TeknoVenus commented on #218
I'm not too sure where to look, so probably won't be very much help. Are you able to try building an older kernel and see what's going on? If so, it would be really appreciated.

It looks like the `/proc/<pid>/ns/cgroup` path was introduced in kernel 4.6, so assume this will fail in the same way for any kernel version <4.6.

[2020-01-06 12:51] giuseppe commented on #218
I've tried on centos 7 and it seems a much simpler version is enough:

[code]

Could you please check if it solves the issue for you as well?  I'll open a PR if it does

[2020-01-06 13:47] TeknoVenus commented on #218
That patch works and solves the issue. Thanks!

[2020-01-07 21:32] tobwen opened #223 "rootless: cgroup limits aren't being honored"
### Whassup?
cgroup v2 limits don't seem to be honored.

`cat /proc/self/cgroup` inside the container results in `0::/` instead of ``0::/user.slice/user-1000.slice/user@1000.service/...`. Also the memory isn't limited at all.

I've directly logged into the user and also set `loginctl enable-linger`. I'm on Debian Buster with kernel `5.3.0-0.bpo.2-amd64`. Kernel was booted with `systemd.unified_cgr

[2020-01-08 08:18] giuseppe commented on #223
that happens because by default Podman uses a cgroup namespace on cgroup v2.  So the container doesn't see all the cgroup on the system, just its own.

What is the output for `cat /sys/fs/cgroup/memory.max` inside of the container?

[2020-01-08 20:59] tobwen commented on #223
Oh, okay. I just tried the stuff you've posted:
https://www.scrivano.org/2019/05/12/rootless-resources-management-with-podman-on-fedora-30/

104857600 - looks good! But:
[code]

[2020-01-09 08:38] giuseppe commented on #223
I believe `free` uses the output from `/proc/meminfo` but that is not changed by the memory cgroup.

If you want to verify whether the limit is in place, try to allocate more memory that you've specified.

[2020-01-09 08:38] #223 closed

[2020-01-09 16:57] rhatdan commented on #223
Correct the system /proc/meminfo does not reflect the cgroup constraints.

[2020-01-09 17:17] tobwen commented on #223
Oh dear. This might let run many apps into OOM.

[2020-01-10 19:55] giuseppe commented on #218
@TeknoVenus I've opened a PR here: https://github.com/containers/crun/pull/224

[2020-01-10 22:07] #218 closed

[2020-01-13 22:31] tobwen commented on #223
Ha... the topic wasn't wrong: the limits are not being honored. Same setup as above:

[code]

Is there some kind of swap?

[2020-01-19 02:45] onlyjob opened #371 "1.6.4 unable to "exec -it": "Error: AppArmor not initialized correctly: OCI runtime error""
I'm trying to enter the successfully running container:

[code]

Not sure where to begin troubleshooting this...

Here is what happens with `--log-level=debug`:

[code]

Same result with `conmon` 2.0.2 and 2.0.9.
I've found no relevant information in _syslog_...

[2020-01-23 12:51] olbender commented on #166
I'm also getting this
`$ crun spec --rootless`
`$ crun --root /tmp/crun run mycontainerid`
`mount 'devpts' to '/home/somedude/mycontainer/rootfs/dev/pts': Invalid argument`

Even after reading the documentation and the comments here it's still a bit hard to understand what this means and how it can be addressed. Can the documentation be slightly extended, or the error message more informative as s

[2020-01-28 21:37] baude opened #230 "SIGINT signals through crun fail"
When sending a SIGINT to a crun container, the signal seems to get eaten or ignored.  If replace crun with runc, the it seems to work.  What I don't understand is why this seems to be only observed using the remote podman client.

The following reproducer gets to the heart of the matter reasonably quick.

[code]

[2020-01-28 21:39] baude commented on #230
@giuseppe can you take a look at this? we need this to get F31 CI testing working for podman.   many thanks!

[2020-01-28 23:13] unquietwiki opened #232 "Can't use autogen on CentOS 7.x"
[code]

I even [rebuilt libtool](https://raw.githubusercontent.com/nmilford/rpm-libtool/4f031f6eb7709f52552f763737773b034059f9ae/libtool.spec) trying to fix this. Also trying to use devtoolset-8 & rh-perl526 from https://www.softwarecollections.org/en/ for gcc & automake.

[2020-01-29 11:33] giuseppe commented on #230
fixed here: https://github.com/containers/crun/pull/233

AFAICS, crun doesn't change the signals, so it might be podman-remote to do it.

It is possible to reset the handlers to the default with `env --default-signal sh..`  I suggest to leave the `env --default-signal` block anyway, as this behaviour is not specified in the OCI specs.

[2020-01-29 12:52] giuseppe commented on #232
it works for me on a CentOS 7.7 box.

These are the packages I'm using:

[code]

[2020-01-29 12:52] #230 closed

[2020-01-29 12:58] giuseppe commented on #166
the safest is probably to drop `gid=5` when creating the configuration for a rootless user, so it works also when there are no multiple IDs available.

Would you like to open a PR to address it?

[2020-01-29 13:09] olbender commented on #166
Sure, one moment.

[2020-01-29 13:11] unquietwiki commented on #232
@giuseppe Thanks. I'll spin up a VM & give that a shot, alongside cleaning up the prior merge. Will have to wait: it's early morning where I'm at. :D

You've been very helpful, and awesome.

[2020-01-29 14:02] baude commented on #230
@giuseppe the change of signal was a misinterpretation of the things initially.  It looks like from our side the signal is just eaten.

[2020-01-29 14:04] baude commented on #230
confirmed this fixes things

[2020-01-29 15:56] #166 closed

[2020-01-29 16:52] #232 closed

[2020-01-31 18:08] baude opened #237 "crun restricts loopback IP when network=none"
when using crun with podman where network=none, the lo interface is not getting its IP address.  This is a behaviour difference with crun.
[code]

[2020-01-31 20:15] giuseppe commented on #237
I've opened a PR here: https://github.com/containers/crun/pull/238

[2020-02-03 12:48] #237 closed

[2020-02-03 12:50] rhatdan commented on #237
We should add a tests to make sure this does not regress in the future.  Comment above should be does not work like `runc`

[2020-02-03 21:22] edsantiago opened #247 "f31 rootless: podman logs: cannot configure rootless cgroup using the cgroupfs manager"
Almost certainly related to containers/libpod#4574
[code]
It only seems to happen with `podman logs`, nothing else.

If this requires a new `crun`, please make sure podman is rebuilt with an updated `Requires`.

podman-1.8.0-0.1.fc31.x86_64
crun-0.11-1.fc31.x86_64

[2020-02-04 01:55] onlyjob opened #240 "FTBFS: src/libcrun/linux.h:58:30: error: unknown type name ‘runtime_spec_schema_defs_linux_personality’"
When `libocispec/src/*_spec_schema_*` files are re-generated by `make -C libocispec generate`, I'm getting the following FTBFS with latest releases of _image-spec_ and _runtime-spec_:

[code]

I think the problem is that `make -C libocispec sync` pulls latest commits of the -spec repositories while downstream in Debian we follow formal releases of those projects.

For the sake of best practice ple

[2020-02-04 07:55] pwFoo opened #241 "Problem / bug with --bundle"
Hi, I tried to start a container with `--bundle` it fails because of a path "/" in the end and can't find the config file inside of bundle dir.
[code]
config is there...
[code]

And with "/" in the end the config path have two slashes.
[code]

Change dirctory and use default bundle dir.
[code]
It would work that way, but fails because of my setup misses some dependencies...

But I think it would b

[2020-02-04 09:30] giuseppe commented on #240
`make sync` should not be used at build time, it is useful only to update the dependencies and then commit them.

The distributed tarballs already have all the embedded dependencies.  Are you building crun directly from the git repo?  In that case, you might want to use `git submodule sync` rather than `make sync`.

If it causes confusion I can rename the Makefile rule to something else.

[2020-02-04 09:41] giuseppe commented on #241
crun assumes the specified path is absolute, which is wrong.

I've opened a PR to address it: https://github.com/containers/crun/pull/242

Could you confirm if it works for you?

[2020-02-04 09:55] onlyjob commented on #240
Agreed. We are not using it on build as download on build is forbidden anyway. The problem is that `make sync` uses HEADs of master, when you are using it hence pulling random commits between release. That's a bad idea...

We do not use embedded (private, vendored) dependencies. Instead we use packages providing corresponding libraries and those packages follow formal semantic releases. This is re

[2020-02-04 13:47] giuseppe commented on #240
so the issue is about using official releases instead of a git commit?

From the oci specs, we don't vendor any code, it is just about the json schema defined there.  It takes a lot of time before a new release is made, I don't want to block on that before supporting new features.

For libocispec itself, there are no releases it is meant to be used as a copylib, in the same way as GNU gnulib is an

[2020-02-04 18:55] #241 closed

[2020-02-04 19:26] pwFoo commented on #241
Thanks! Works fine! 👍

[2020-02-04 21:38] onlyjob commented on #240
Yes it is precisely about official releases of OCI (image|runtime)-specs. Thanks.

Libocispec is not packaged separately and the _crun_ package uses the bundled copy. At the moment it is considered a component of _crun_ since there are no other users of this library.

However OCI specs were used for years before _crun_ was introduced. Schema files are taken from released versions of OCI packages a

[2020-02-05 06:28] clee opened #245 "Nginx can't write to /proc/self/fd/2 with container.runAsUser=101"
Apparently there was a very similar bug in docker: https://github.com/moby/moby/issues/6880

I'm seeing the exact same behavior - with `cri-o` and `crun`, ingress-nginx doesn't work out of the box because the ingress-nginx-controller fails to start up when it can't write to `/var/log/nginx/error.log`, which is a symlink to `/dev/stderr`, which is a symlink to `/proc/self/fd/2`. I worked around the

[2020-02-05 06:32] clee commented on #245
[code]

[code]

[code]

[2020-02-05 10:58] giuseppe commented on #245
that looks like an issue we fixed in conmon: https://github.com/containers/conmon/pull/112

runc does automatically the chown, but I think it is better to fix it in conmon as that is the owner for the pipes

What version of conmon are you using?

[2020-02-05 11:58] clee commented on #245
[code]

Whatever's packaged in debian bullseye at the moment, I guess?

[2020-02-05 12:01] giuseppe commented on #245
yes so we need an updated conmon there

[2020-02-05 13:32] giuseppe commented on #240
I fully understand your concern and the usefulness of semver, but realistically that is not possible with OCI.

I'd still like to be able to implement a feature as soon as it is available in the OCI specs, I'd prefer to not have to wait even one week that is the shortest period if the vote happens immediately.

Last release was:
[code]

Why are the OCI specs packaged separately.  How are they usef

[2020-02-05 19:20] onlyjob commented on #240
It is very much possible if you care just a little more about stability and little less about "bleeding edge" of technology. Your very own package have notion of stability expressed in a form of formal releases. Please don't jeopardise that notion by vendoring unreleased snapshots of OCI specification.

Then I recommend to maintain two branches -- one "stable" and another "experimental" branch bas

[2020-02-06 08:49] #247 closed

[2020-02-06 09:05] giuseppe commented on #247
https://bodhi.fedoraproject.org/updates/FEDORA-2020-8ebf368b70

[2020-02-06 19:39] disaster123 opened #268 "rootless podman fails with: sd-bus add match: Operation not permitted: OCI runtime permission denied error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

unable to start rootless container. It always fails with:
[code]

**Steps to reproduce the issue:**

1. install podman on debian buster 10 from opensuse kibec

2. run podman --log-level=debug run --rm nginx

**Describe the results you received:**

ERRO[0000] sd-bus add match: Operation not pe

[2020-02-07 09:45] disaster123 opened #249 "rootless crun needs read permissions on /"
Hello,

to reproduce do:

* sudo chmod 751 /
* podman run -d --rm nginx
Error: open '/': Permission denied: OCI runtime permission denied error

I see no reason to need /

chmod 755 and it works fine.

Greets,
Stefan

[2020-02-07 09:48] disaster123 opened #250 "crun does not work ith hidepid=1 for /proc: sd-bus call: No route to host: OCI runtime error"
Hello,

for extended security we normally run /proc with hidepid=1 option but this breaks crun.

To test:
* sudo mount -o remount,hidepid=1 /proc/ /proc/
* podman run -d --rm nginx
Error: sd-bus call: No route to host: OCI runtime error

Greets,
Stefan

[2020-02-07 13:02] giuseppe commented on #250
that is really a problem with systemd, as it cannot see the main instance.

When you run with `hidepid=1` are you able to do something like `systemd-run --user --scope echo hello` ?

[2020-02-07 13:17] giuseppe commented on #249
can you check if https://github.com/containers/crun/pull/251 solve the issue for you?

[2020-02-07 13:25] disaster123 commented on #249
As you know from yesterday I’m unable to build crun under Debian. Can you again provide a static linked binary?

[2020-02-07 13:45] giuseppe commented on #249
[crun.zip](https://github.com/containers/crun/files/4171062/crun.zip)

attached here

[2020-02-07 18:18] disaster123 commented on #249
Yes! that works perfectly! Thanks a lot!

[2020-02-07 18:29] #249 closed

[2020-02-07 19:22] disaster123 commented on #250
ah OK i see - i even tried this workaround patching kernel for systemd and pid1:
https://github.com/systemd/systemd/issues/12955#issuecomment-512815745

and i do no longer see the error message from above but a new one:
"
cannot read argv: No such file or directory
"

and podman hangs.

Stangely ones i was able to start a single pod. I can switch hidepid=2 and it works fine.

[2020-02-07 19:24] disaster123 commented on #250
Yes systemd-run --user --scope echo hello works fine with patched kernel

[2020-02-08 09:49] pwFoo opened #252 "[Question] crun / runc config.json mounts ignored"
Hi,
it's not crun related and I have the same problem with runc in my setup.

There are mounts like /etc/resolv.conf in config.json file and I expected crun / runc would mount that config.json part during `crun run [...]`?

The system setup is really minimal, so maybe something is missing like a kernel module which could be needed...
Any hint about such "basic" dependencies I could miss?

[2020-02-08 10:39] pwFoo commented on #252
I checked with strace and from inside of the container and it looks like it should work. It seems to be a startup dependency and the resolv.conf file isn't there until crun try to start the container...

Close for now... Try to handle dependencies at startup to sort it out...

[2020-02-08 10:39] #252 closed

[2020-02-10 09:37] AkihiroSuda opened #254 "rootless, systemd: ENOENT `/sys/fs/cgroup/user.slice/user-1001.slice/user@1001.service/cgroup.subtree_control` when blockIO resource exists"
When `.linux.resources.blockIO` exists, crun fails with a cryptic ENOENT error.

[code]

[`config.json`](https://github.com/containers/crun/files/4179992/config.json.txt)

[2020-02-10 09:57] AkihiroSuda opened #255 "rootless, systemd: RLIM_MEMLOCK EPERM when device resource exists"
[code]

`config.json` (fails):
[code]

`config.json` (succeeds):
[code]

The system setup is same as https://github.com/containers/crun/issues/254 .

Not sure a bug or an intentional behavior.

[2020-02-10 10:03] giuseppe commented on #254
thanks for the report.

That happens as the rootless user doesn't have enough privileges to enable `io` in the parent cgroups.
Then it receives `ENOENT` when it tries to activate it in the child cgroup as the controller doesn't exist in the parent cgroup.

I'll need to check what breaks if I don't skip `EPERM|EACCES` errors when activating cgroups, otherwise, in that case the error will be cleaner

[2020-02-10 10:13] giuseppe commented on #255
crun is attempting to setup eBPF, and that is a privileged operation that cannot be performed as rootless.  Do you think the error message should be clearer?

The second case is handled specially as being the default configuration generated by `runc|crun spec`.

[2020-02-10 10:21] AkihiroSuda commented on #255
Can be closed if intentional.
Maybe we should clarify these behaviors in the upstream OCI spec.

[2020-02-10 10:21] #255 closed

[2020-02-10 10:33] AkihiroSuda commented on #254
Curious, why kernel returns ENOENT rather than EINVAL?

[2020-02-10 10:47] giuseppe commented on #254
jsut speculation but `EINVAL` is already used for invalid values:

[code]

[2020-02-11 10:09] tanwald opened #260 "Regression touching mariadb image - at least"
/kind bug

**Description**

I cannot run sclorg/mariadb images any longer using the same commands as before. Even the commands from https://github.com/sclorg/mariadb-container don't work any longer.

**Steps to reproduce the issue:**

[code]
Even without volume mounts:
[code]

**Describe the results you received:**
Last logs before the container exits:
[code]

**Describe the results you expected:*

[2020-02-11 11:38] mehrar opened #256 "Request for change of licence"
Hi @giuseppe ,

Please can you consider re-licensing `crun` under the terms of GPL2 and `libcrun` under the terms of LGPL2.1. This will allow crun to be included as an OCI Compliant Runtime within the [Reference Design Kit (RDK)](https://rdkcentral.com/) for creating and managing containers on embedded platforms.

thanks,
    --- Rahul

[2020-02-11 12:11] giuseppe commented on #256
hi Rahul, I am fine with changing the license to GPLv2/LGPLv2.

Since there are other contributors, I'd like to see if anyone is against it.

@alban @intlabs @joaompinto @leoluk @lifeng68 @lukasheinrich @mephi42 @riyad @rst0git @tiborvass @crosbymichael @olbender @dmolik

Do you have anything against the requested change?  Are you fine if I change the license for crun to GPLv2 and libcrun to LGPLv

[2020-02-11 13:20] rhatdan commented on #256
I think this is a good thing to do.

[2020-02-11 13:35] dmolik commented on #256
I'm very pro GPL license. However whats the argument for v2 over v3?

[2020-02-11 14:05] giuseppe commented on #256
@dmolik GPLv3 makes more difficult to use in the embedded space as it requires that users are able to change the software on the hardware device.

[2020-02-11 14:17] dmolik commented on #256
@giuseppe I'm not sure I understand the intricacies of that argument, but I did some research into v2 vs v3, and I'm okay v2, but I would like to note that v2 is not compatible with Apache-2.0 while v3 is.

[2020-02-11 14:19] giuseppe commented on #256
@dmolik that is fine.  crun will be released as GPLV2+, so if you need to link/use it with Apache-2.0 you are free to use it as GPLv3.  At the same time, you are allowed to use it as GPLv2

[2020-02-11 14:28] dmolik commented on #256
okie dokie!

[2020-02-11 14:50] AkihiroSuda opened #258 "cgroup config is ignored with `docker run --cgroupns=private`"
Not sure the issue is on crun side or on Moby side, but `--memory 32m --cgroupns=private --runtime=crun` produces unexpected result.

[code]

[code]

Note: `docker run --cgroupns=private` is supported only on master CLI with daemon >= 19.03.

[2020-02-11 14:55] AkihiroSuda commented on #258
Update: reproducible with containers/libpod@ee811431d29962c3a801903ca3ca342a2000f65e as well. So the issue is on crun side.

[code]

[2020-02-11 14:56] AkihiroSuda commented on #258
Seems `/sys/fs/cgroup` is not remounted as expected.

[2020-02-11 21:40] #260 closed

[2020-02-11 22:08] KillingSpark opened #262 "Notify socket paths"
Hello, I am investigating an issue a user has while running crun in a systemd-like environment (see issue here: https://github.com/KillingSpark/rustysd/issues/22)

It seems that there is a problem with the notification sockets, crun tries to bind to a unix domain socket that is already in use `bind socket to '/run/crun/mdevd/notify': Address already in use`.

If the user starts crun manually every

[2020-02-12 09:11] riyad commented on #256
From my side it's ok also. :+1:

[2020-02-12 09:15] lifeng68 commented on #256
LGTM

[2020-02-12 10:07] giuseppe commented on #262
thanks that is indeed the root cause.

In the linked issue I don't see anywhere `Type=notify` being used.

Do you set also `NOTIFY_SOCKET` for other kind of services?

[2020-02-12 10:40] KillingSpark commented on #262
Rustysd sets NOTIFY_SOCKET for all services, they might not want to use it to notify that they are ready but they might want to push status messages .

[2020-02-12 11:26] mephi42 commented on #256
LGTM

[2020-02-12 11:55] leoluk commented on #256
LGTM

[2020-02-12 12:28] alban commented on #256
LGTM

[2020-02-12 12:52] olbender commented on #256
I support this as well.

[2020-02-12 14:13] adrianreber commented on #71
@giuseppe I started to integrate CRIU support into crun and I am hitting a problem that CRIU cannot  checkpoint a process with the following error message:

[code]

Looking closer at this I see a difference between a process running in crun (compared to runc). The following is from a Fedora 31 system running a RHEL7 based container:
[code]

CRIU's error message show the same, that `sid=0`. CRIU do

[2020-02-12 15:39] giuseppe commented on #71
@adrianreber could it be related to the `setsid()` call crun does in `src/libcrun/linux.c`?

[2020-02-12 15:49] giuseppe commented on #71
I'll take a look to understand what is going on

[2020-02-12 15:58] giuseppe commented on #71
I think the `setsid` should be inconditional, does this patch work for you?

[code]

[2020-02-12 16:48] adrianreber commented on #71
@giuseppe Thanks. With that patch I do not see the session leader error any more.

[2020-02-12 17:02] adrianreber commented on #71
@giuseppe Another thing I am having a problem is, is `/dev/null`. If stdin, stdout, stderr point to`/dev/null` runc reopens `/dev/null` inside of the container (`func reOpenDevNull()`). Does crun also do that? I haven't seen it so far.

It seems like `/dev/null` still points to the outside of the container.

[2020-02-12 17:18] giuseppe commented on #71
@adrianreber no, it is not currently done.  I will add that

[2020-02-12 17:57] giuseppe commented on #71
@adrianreber is that currently blocking you?

[2020-02-12 18:59] adrianreber commented on #71
Yes, but knowing that it is missing I can look into it myself. If you have a patch I am happy to use that, but I can try to provide a patch myself.

[2020-02-12 20:48] giuseppe commented on #71
ok thanks.  CRIU support is very important, so if there is anything I can do to help with it, just let me know.

Is the `mnt_id` the only visible effect of re-opening `/dev/null` inside of the container?

[2020-02-12 20:55] rst0git commented on #71
@adrianreber I think the error occurs because in crun `/dev/null` is mounted on masked paths: https://github.com/containers/crun/blob/a1c0effab5694ffd861f3f33200c80f14a904c60/src/libcrun/linux.c#L1020
The same is done in runc, but it also adds `/dev/null` as an external mount map for CRIU: https://github.com/opencontainers/runc/blob/f6fb7a0338c3ea8488bd9bd7cc7667b113aff8d8/libcontainer/container_l

[2020-02-12 21:53] giuseppe commented on #262
ok thanks, that explains why you hit the issue.

[2020-02-13 03:14] #262 closed

[2020-02-13 03:15] #258 closed

[2020-02-13 07:07] adrianreber commented on #71
@rst0git I thought I am already correctly handling the masked paths. Let me have a closer look at this, but I can definitely see that runc uses /dev/null from the inside of the container and crun /dev/null from the outside.

[2020-02-13 07:55] adrianreber commented on #71
If I am pointing stdin, stdout, stderr to the `/dev/null` in the container if the point to `/dev/null` on the outside then I successfully checkpoint the container.

Basic checkpointing works for me now with @giuseppe  setsid patch from above. I will open a PR for the `/dev/null` handling.

[2020-02-13 08:57] giuseppe commented on #256
@cyphar could you dual license `cloned_binary.c` as Apache+LGPLv2 so that it can be used from libcrun as well?

[2020-02-13 11:21] giuseppe commented on #71
that is great news!  Do you want me to prepare a PR with the setsid patch above?

[2020-02-13 13:08] adrianreber commented on #71
Yes, please.

[2020-02-13 13:20] giuseppe commented on #71
@adrianreber opened here: https://github.com/containers/crun/pull/267

[2020-02-13 15:07] giuseppe commented on #78
@cailca any movement here or can we close this issue?

[2020-02-13 15:17] cailca commented on #78
I don't think I'll get to this now. Unless there is someone else to pick it up, feel free to close it.

[2020-02-13 15:21] giuseppe commented on #78
ok thanks, let's reopen if things change

[2020-02-13 15:21] #78 closed

[2020-02-13 16:31] adrianreber commented on #71
Question how to continue here. My main 'problem' is Podman. Podman currently figures out if the OCI runtime supports checkpointing by running the subcommand 'checkpoint' and if it is successful it assume this OCI runtime has all the features Podman needs. This basically means that I cannot add my checkpoint/restore patches to crun before if is ready for Podman to actually being used.

On the other

[2020-02-13 16:46] giuseppe commented on #71
yes I agree smaller patches are better, so we can already start playing with it.

I am fine with `_checkpoint` and `_restore` as well as using them something different like `checkpoint-experimental`

[2020-02-14 12:42] adrianreber commented on #71
@giuseppe If I want to pass multiple checkpoint/restore options from the subcommand parser down to libcrun, should I create a new structure in src/libcrun/container.h or make the new checkpoint/restore specific members part of the context structure?

[2020-02-14 12:51] giuseppe commented on #71
both are fine, as long as the new features are guarded by macros so it is possible to disable CRIU att build time if needed

[2020-02-14 14:18] giuseppe commented on #268
moved to crun as there is nothing to fix in Podman

[2020-02-14 14:25] disaster123 commented on #268
Yes

[2020-02-18 15:53] AkihiroSuda opened #275 "mount `/sys/fs/cgroup/devices//docker/e8abdf...` to '/home/user/.local/share/containers/storage/vfs/dir/fa62249.../sys/fs/cgroup/devices': No such file or directory"
Usernetes is trying to switch to crun, but both CRI-O and containerd fails due to an error related to `/sys/fs/cgroup` when running inside Docker:

[code]

Please refer to https://github.com/rootless-containers/usernetes/pull/128 for the reproducer.

[2020-02-18 18:47] giuseppe commented on #275
PR here: https://github.com/containers/crun/pull/277

[2020-02-18 21:34] rhatdan commented on #275
Merged.

[2020-02-18 21:34] #275 closed

[2020-02-19 01:18] jmou opened #282 "podman exec inherits environment variables from container process"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman exec` does not use the environment variables that the container image is built with. Instead it seems to inherit environment variables from the container process.

**Steps to reproduce the issue:**

1. Run
[code]

**Describe the results you received:**

[code]

Note $x is set and $PAT

[2020-02-20 08:15] AkihiroSuda opened #279 "CI should upload static binary as an artiact"
If CI can upload a static binary of crun as a build artifact, it would be easier to test issues with consumer projects.

e.g.
https://github.com/rootless-containers/slirp4netns/blob/a8414d1d1629f6f7a93b60b55e183a93d10d9a1c/.github/workflows/main.yaml#L15-L24

[2020-02-20 11:37] giuseppe commented on #279
I am not familiar with github actions.

Could you help me with it?

It should do the equivalent of `SKIP_GPG=1 build-aux/release.sh` and use the files under `release-$RELEASE`

[2020-02-20 11:46] giuseppe commented on #279
giving it a try: https://github.com/containers/crun/pull/280

[2020-02-20 16:57] #279 closed

[2020-02-20 20:13] giuseppe commented on #256
@cyphar the version I've found here `https://github.com/lxc/lxc/blob/master/src/lxc/rexec.c` doesn't seem to do the version with a ro mount namespace.

[2020-02-21 04:55] cyphar commented on #256
No it doesn't, I added that after feedback from Google saying that the `memfd_create` method caused all containers to increase their memory usage by 10MB.

I am okay with relicensing `cloned_binary.c` under a dual `Apache-2.0 OR LGPL-2.1-or-later` license, but you need to get permission from @justincormack and @brauner since they both have committed changes to `cloned_binary.c`.

[2020-02-21 05:26] justincormack commented on #256
@cyphar I am ok with that for `cloned_binary.c`.

[2020-02-21 10:57] brauner commented on #256
Fine with me.

[2020-02-21 13:18] cyphar commented on #256
Alright, that's all the folks needed to re-license the code. Here's the PR: https://github.com/opencontainers/runc/pull/2232.

[2020-02-21 16:37] giuseppe commented on #282
@mheon I've opened a PR to address the crun side of the issue:

https://github.com/containers/crun/pull/283

But I think there is still an issue in Podman.  The `PATH=` env variable looks different than what is specified for the image.

This is the process JSON file that crun receives:

[code]

[2020-02-21 17:13] #282 closed

[2020-02-21 17:31] mheon commented on #282
@giuseppe I'll take a look

[2020-02-26 03:04] jshachm opened #286 "how to print runtime debug log"
Hi
I use docker 18.09  integrate with crun.
And here is my config:
[code]

however, I can't see any logs in /home/crun.log

Further more, I also try to config like `--log=journald:crun` or `--log=syslog:crun` but also failed to print the runtime log.

Is there anything wrong with my config?

[2020-02-26 08:10] giuseppe commented on #286
crun doesn't really produce any debugging information at the moment, it only prints errors and warnings to the log file.
If the file is empty, it most likely didn't hit any issue and the container was correctly created.

Are you seeing any issue creating the container?

[2020-02-27 14:56] GreeFine opened #288 "Rootless Docker in Kubernetes: failed: mount `/sys/fs/cgroup/perf_event//kubepods...` No such file or directory"
Hi, I am trying to run rootless Docker in Docker with Kubernetes with the `crun` runtime hoping it would work better than the default `runc` one as it was recommended here : https://github.com/moby/moby/issues/40068

This is the error that i get when running `docker run busybox sh`:
[code]
Here the environement and i used:
[code]
The crun that is used
[code]

The os-release and uname of my host
[c

[2020-02-27 15:10] giuseppe commented on #288
I think the issue is a duplicate of: https://github.com/containers/crun/issues/275

Could you try the last version from master and see if it works for you?

[2020-02-27 16:44] GreeFine commented on #288
@giuseppe Yes working with version 0.12.2.1.29-0402 Thanks !

[code]

[2020-02-27 16:44] #288 closed

[2020-02-27 17:10] TeknoVenus opened #290 "Mounting files in /etc fails with "Permission Denied""
Whilst testing the latest version of crun, I upgraded from crun 0.11 to 0.12.2.1 and have found a regression.

When starting a container that bind-mounts a file from the host /etc directory, it fails to mount with error "permission denied". Switching between crun 0.11 and 0.12 shows the issue first began in 0.12 and still exists in the latest version 0.12.2.1.

**Steps to reproduce**
1 . Download

[2020-02-27 17:49] ksvasan opened #291 "Trying to use/build crun on centos8 stream"
I tried to download the crun static build from the location below.
https://github.com/containers/crun/releases/download/0.12.2.1/crun-0.12.2.1-static-x86_64

When I try the basic podman command below I'm seeing the following error.
Command: sudo podman --runtime /usr/bin/crun run fedora echo hello
Output: Error: remount `/var/lib/containers/storage/overlay/67646afaffa29a07e4278ce9af2308673ae3654c0

[2020-02-27 19:47] giuseppe commented on #290
thanks for the detailed reproducer.

I've opened a PR here: https://github.com/containers/crun/pull/292

[2020-02-27 21:50] giuseppe commented on #291
thanks for the report.

Could you give a try at https://github.com/containers/crun/pull/293 ?

[2020-02-28 09:47] TeknoVenus commented on #290
#292 resolves the issue - thank you.

[2020-02-28 12:02] #290 closed

[2020-02-28 13:14] TeknoVenus opened #294 "crun ps fails with "no such file or directory""
When running `crun ps [containerid]`, I get the following error:

[code]

Seems this is caused by the older kernel on my device

[code]

as I don't have a `pids` directory in my cgroups:
[code]

Looks like the `pids` cgroup was introduced in kernel 4.3: http://man7.org/linux/man-pages/man7/cgroups.7.html

I can do `crun exec containerid ps` and retrieve the ps output as expected, so this isn't a m

[2020-02-28 15:57] giuseppe commented on #294
we can use another controller instead of pids.  It is hardcoded only because I've assumed it is on all the kernels crun will run on

Does it work if you do something like?

[code]

[2020-02-28 16:16] TeknoVenus commented on #294
Yes, that fixes it. Thanks.

[code]

Is there any plan to enhance the output of the ps command to include more information, closer to what runc shows?

[2020-02-28 16:47] #256 closed

[2020-02-28 21:18] giuseppe commented on #294
I had no plans for that (it requires parsing files from `/proc`) but if someone is interested in that, I'll happily consider patches.

PR opened with the patch above: https://github.com/containers/crun/pull/295

[2020-02-29 08:33] ksvasan commented on #291
I tried #293 and it seems to work fine.
Command: podman --runtime /usr/bin/crun run fedora echo it works
Output: it works
Kernel: 4.18.0-177.el8.x86_64

Many thanks for looking into this.
I'll keep this open until you deem it fit to be closed just in case you need to add more code to #293

[2020-02-29 10:04] giuseppe commented on #291
thanks for confirming it, I am going to merge #293

[2020-02-29 10:04] #291 closed

[2020-03-02 09:33] TeknoVenus commented on #294
Ok, that's fine. Thanks for the PR.

[2020-03-02 14:47] #294 closed

[2020-03-06 05:48] warmchang commented on #154
Hi, could you tell us what is the roadmap of crun project? It will replace the runc as the default runtime component in openshift?

[2020-03-06 13:54] rhatdan commented on #154
@warmchang We have not made any decisions on that, at this point.  Originally crun was for support for cgroupV2, but it also has some interesting features that runc does not, and @giuseppe is looking into adding additional features.

[2020-03-06 13:55] rhatdan commented on #154
@onlyjob @giuseppe Should we update the readme and/or close this issue?

[2020-03-07 03:22] warmchang commented on #154
@rhatdan I got it, and thank you for reply.

[2020-03-07 07:51] pwFoo opened #300 "Problem with cgroup.freeze"
Hi,
I updated crun to the latest version and my setup (minimal custom host) stopped working with the following error message.
[code]

Container processes are running!
[code]

Enter running container works fine too:
[code]

System is running with alpine kernel at the moment:
[code]

How to check of cgroup.freeze is supported or is it a crun bug?

[2020-03-07 07:52] pwFoo commented on #300
cgroup v2 of docker container:
[code]

[2020-03-07 08:17] onlyjob commented on #154
I would love to see some changes to README please, as requested here: https://github.com/containers/crun/issues/154#issuecomment-549458356

Thanks.

[2020-03-07 08:40] pwFoo commented on #300
Problem is fixed by kernel update to latest alpine linux "linux-lts":
[code]

But dockerd fails because of nat rules.
[code]

But iptables nat works fine I think...
[code]

[2020-03-07 08:47] pwFoo commented on #300
And fixed... Missing kernel modules with new kernel (xt_*)...

Closed

[2020-03-07 08:47] #300 closed

[2020-03-07 09:08] giuseppe commented on #154
could you open a PR with the changes you'd like to add?

[2020-03-12 13:36] edsantiago opened #422 "podman build: error opening file `.../cgroup.freeze`: No such device"
In [CI](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/5756523582324736/html/system_test.log.html). Rootless. I don't know which Fedora:
[code]
CI links: [cirrus](https://cirrus-ci.com/task/5756523582324736) -- [highlighted](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/5756523582324736/html/system_test.lo

[2020-03-13 13:25] Anttikyll opened #304 "Error when defining log destination and exec options"
I'm getting the following error when I run

`sudo crun --root=/var/run/antti/crun --log=/var/log/crun.log exec --detach sleepy ls`:

[code]

`sudo crun --root=/var/run/antti/crun --log=/var/log/crun.log exec --detach sleepy ls` fails

`sudo crun --root=/var/run/antti/crun --log=/var/log/crun.log exec sleepy ls` works

`sudo crun --root=/var/run/antti/crun exec --detach sleepy ls` works

I get the

[2020-03-13 15:55] giuseppe commented on #304
I am not able to reproduce with 0.13 and git master.

What version are you using?  I see you are using arm, have you built crun by yourself?  If so what options have you used for `./configure`?

[2020-03-13 16:04] Anttikyll commented on #304
I'm on:
[code]

I'm actually running this on a Ubuntu VM, apologies for the confusion with the config.json. To build crun, I followed the instructions in README.md

[2020-03-13 16:10] giuseppe commented on #304
thanks, I am still trying to reproduce locally.

Could you try to compile it with `./configure CFLAGS=-ggdb3 && make -j $(nproc)` and try again?  Does the segfault look the same?

[2020-03-18 10:44] Anttikyll commented on #304
Sorry for the late reply giuseppe! I've attached the log after compiling with your suggestion. Unfortunately the segfault looks about the same to me.

[error.log](https://github.com/containers/crun/files/4348447/error.log)

By the way - I'm working with @TeknoVenus and he can also reproduce the bug on Ubuntu.

[2020-03-18 11:46] giuseppe commented on #304
thanks, I am trying on `Ubuntu 18.04.3 LTS` but I am still not able to reproduce it.

Could you run it through gdb?

`sudo gdb --args crun --root=/var/run/antti/crun --log=/var/log/crun.log exec --detach sleepy ls`

then type `r<ENTER>`

and please tell me the output :-)

[2020-03-18 14:57] Anttikyll commented on #304
I'm getting a `Resource temporarily unavailable` error from gdb. I'm able to run other commands with it though without issue, though crun seems to have some issues with it,

Same goes for @TeknoVenus, and he's also been able to reproduce this issue on crun 0.11.

[2020-03-18 16:44] giuseppe commented on #304
what version of Ubuntu are you using?

[2020-03-18 16:44] TeknoVenus commented on #304
I've reproduced on 16.04 LTS (64 bit)

`Linux C-SF-N850 4.15.0-91-generic #92~16.04.1-Ubuntu SMP Fri Feb 28 14:57:22 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

[2020-03-18 17:43] giuseppe commented on #304
could you try if this patch solves the issue for you?

[code]

[2020-03-18 18:29] luto commented on #250
Is there any way to get podman running with hidepid enables?

[code]

[2020-03-19 03:05] cailca opened #306 "crun ps output is less useful"
On Fedora 31, "crun ps" prints out only pid. Other runtimes like runc and kata, both print out something more useful to debug.

UID          PID    PPID  C STIME TTY          TIME CMD
root        1196       1  9 22:39 ?        00:00:00 sleep 60'

There are some docs to make use of "runc ps" in case there is no ps command in container images.

https://access.redhat.com/documentation/en-us/openshift

[2020-03-19 09:10] Anttikyll commented on #304
That's fixed it! I'm no longer experiencing the crashes.

[2020-03-19 09:34] giuseppe commented on #304
PR opened here: https://github.com/containers/crun/pull/307

[2020-03-19 09:43] giuseppe commented on #250
I am afraid not.  hidepid doesn't really work nicely with user namespaces

[2020-03-19 10:00] giuseppe commented on #250
I'll take a better look at it, it should be easy to fix the issue you've seen

[2020-03-19 10:28] giuseppe commented on #250
I was just being too pessimistic, the fix for Podman is here: https://github.com/containers/libpod/pull/5550

[2020-03-19 11:02] #304 closed

[2020-03-19 11:20] rhatdan commented on #250
Nice.

[2020-03-19 13:27] luto commented on #250
wow! thank you very much, @giuseppe! :tada: :grin:

[2020-03-19 16:46] giuseppe commented on #268
@ disaster123 could you try if https://github.com/containers/crun/pull/305 solves the issue for you?

[2020-03-19 17:08] disaster123 commented on #268
If you can give me a statically linked crun I can test

[2020-03-20 07:46] giuseppe commented on #268
I'd like to know if it works also when you build it with the libraries you have available on your system.

If you'd still like a static binary, you can find here https://github.com/containers/crun/pull/305/checks?check_run_id=519179742  (upper right side -> Artifacts)

[2020-03-23 08:51] disaster123 commented on #268
I'm not sure whether this is related to the new crun or podman itself - i updated all packages to latest and now i'm getting:
[code]

[2020-03-24 06:10] pwFoo opened #308 "[Feature Request] Overwrite CMD by cli Option?"
I know I have a very special use case, but it would be great to overwrite / set the container CMD as crun option.

I have containers which have no running process and need different command options nearly each time I execute the container.

Instead of a quick and dirty wrapper (modify config.json each time before I start the container) I ask if it would be possible to add an option to do that duri

[2020-03-24 08:08] giuseppe commented on #308
I'd say it is out of scope for an OCI runtime.

But we could allow to specify the configuration file, instead of hardcoding `config.json`, so you could do something like:

[code]

what do you think?

[2020-03-24 10:28] giuseppe commented on #268
are you using the devices controller with rootless containers?

How have you created that container?

[2020-03-24 13:49] pwFoo commented on #308
jq would be an additional dependency for my special build, but `--confg /dev/stdin` would help to find a nice workaround (jq or just a generated config with search and replace CMD), awesome would a `--cmd "cmd string ..."` ;)
But if no chance for such an option the stdin way should work.

[2020-03-24 15:00] disaster123 commented on #268
The container was created by podman-compose and the compose file has:
[code]

[2020-03-24 16:05] giuseppe commented on #308
would you like to open a PR?

[2020-03-24 18:15] pwFoo commented on #308
Hi @giuseppe,
sorry... I'm not a programmer. Just a crun user with linux and shell knowledge... :(

[2020-03-24 20:48] giuseppe commented on #308
no problem, I've opened it: https://github.com/containers/crun/pull/310 :-)

[2020-03-25 02:12] #308 closed

[2020-03-27 19:17] giuseppe commented on #268
so the error looks correct.  As a rootless user you can't raise that limits

[2020-03-27 19:20] rhatdan commented on #268
Looks like this is not a bug, either remove the ulimits or run the compose as root.

[2020-03-27 19:20] #268 closed

[2020-03-28 10:29] pwFoo commented on #308
@giuseppe I think the merged PR implements the jq way you posted here https://github.com/containers/crun/issues/308#issuecomment-603090263?

[2020-03-28 11:37] giuseppe commented on #308
Yes it implements a way to specify the config file to read

[2020-03-30 20:09] #250 closed

[2020-04-04 00:00] kolyshkin opened #315 "[cgroupv2] crun update sets wrong swap if mem is not set"
Runtime spec says that "swap" parameter sets a value for memory+swap. It was that way for cgroupv1, but cgroupv2 have a separate limit for swap.

To stay compatible with the spec, we decrease the value of memory limit from this mem+swap to get a swap limit for cgroupv2.

Unfortunately, it's not working for `crun update` when the new mem+swap is specified but the memory is not. Here's a repro:

[co

[2020-04-04 00:01] kolyshkin commented on #315
I see two ways to solve it:
 - error out if mem+swap is set but memory is not set
 - read current mem limit from cgroupfs if not provided

[2020-04-04 20:16] giuseppe commented on #315
I'd just error out when memory is not set.

Podman documents this behavior but it doesn't raise any error.

Docker returns an error as well when the swap is used without a memory limit:

`Error response from daemon: You should always set the Memory limit when using Memoryswap limit, see usage.`

[2020-04-07 21:07] #315 closed

[2020-04-12 12:31] MastaG opened #324 "Rootless containers not working on Armv7"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Rootless containers not working with podman
**Steps to reproduce the issue:**

1. podman --log-level debug run hello-world

2.

3.

**Describe the results you received:**
[code]
**Describe the results you expected:**
Output of the hello-world container

**Additional information you deem impor

[2020-04-13 08:10] giuseppe commented on #324
I've moved it to crun since the last error is generated by crun.

Would it be possible for you to create directly a container with crun?

Also, could you try the last version from git master?

I'll try to setup Fedora 32 on armv7 locally

[2020-04-13 12:38] MastaG commented on #324
Hi, I would like to create a container with crun but I'd need some documentation on how to do that.. it seems to ask for a config.json.
Perhaps a sample config?

I'm running Fedora 32 on my x86_64 host with the exact same package versions as my armv7 host.
Rootless containers do work on x86_64 but not on armv7.

Some differences between the two.
- My x86_64 host runs a slightly newer kernel: 5.6.2

[2020-04-13 15:00] giuseppe commented on #324
you could do a quick check like:

mkdir rootfs && crun spec && sudo crun run foo

I am just curious if you see again `Error: open proc: No such file or directory: OCI runtime command not found`, but I still expect it to fail with a different error since the rootfs hasn't a real container image.

[2020-04-13 15:46] MastaG commented on #324
thank you giuseppe

[odroid@odroidxu4 roots]$ sudo crun run hello-world
2020-04-13T15:46:25.000974648Z: make `rootfs` private: No such file or directory

[2020-04-13 15:53] MastaG commented on #324
Some comparison when starting a rootless container on a clean state:
On x86_64:
[code]
On armv7:
[code]

[2020-04-14 03:05] haircommander opened #326 "Odd error with crun update setting memsw"
I am seeing
[code]
on:
crun 0.13 and master
cgroup v1
CRI-O CI on https://github.com/cri-o/cri-o/pull/3564 (not locally)

Through applying the patch in https://github.com/containers/crun/pull/325, I have determined it is the `open` call in src/libcrun/utils.c:195 sending the EINVAL

It seems to happen when we set a memsw on the initial container creation,:
[code]
and then call a crun update where

[2020-04-14 10:24] MastaG commented on #324
Any idea on how to replicate the:
[code]
message? this only happens when running rootless.

[2020-04-14 10:38] giuseppe commented on #324
could you run this command?

[code]

and show me the output?  Hopefully we also capture the failure you are seeing

[2020-04-14 11:07] giuseppe commented on #326
I think the error could be caused by trying to write to the root cgroup.

I am going to take a look, are you able to easily reproduce it?

[2020-04-14 11:22] MastaG commented on #324
Ah thank you giuseppe, that produces much better output:
[code]

Could it be because: /sys/kernel/mm/transparent_hugepage/hpage_pmd_size is missing?

[2020-04-14 11:42] MastaG commented on #324
It must be this one..
[code]
Because that one only happens on armv7.

When I run the exact same thing on x86_64 theres no sign of opening proc/opq ?

[2020-04-14 11:45] giuseppe commented on #324
thanks for checking this out; so the issue seems to be with fuse-overlayfs.  I am closing this issue as a duplicate of: https://github.com/containers/fuse-overlayfs/issues/197

[2020-04-14 11:45] #324 closed

[2020-04-14 18:59] #326 closed

[2020-04-16 23:39] NobodyXu opened #332 "add crun to official apt source"
It will be much easier to use crun if it is add to the [offical repository] which podman is available and mark crun as a recommended for podman.

[offical repository]: http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/

[2020-04-17 07:00] kolyshkin opened #335 "error message duplication"
When `-d` is specified for `crun run`, some errors got duplicated:

[code]

From strace:
[code]

[2020-04-17 07:05] giuseppe commented on #332
@saschagrunert would that be possible?

[2020-04-17 07:31] saschagrunert commented on #332
Yes sure, I guess @lsm5 has the write permissions to that repository. :+1:

[2020-04-17 08:47] lsm5 commented on #332
yup, i can add that

[2020-04-17 10:10] TeknoVenus opened #337 "cpu.rt_period_us - Permission Denied"
With the latest commit of crun (99961cb96915670e87606fed20f93b56a2522239), I get the following error whilst starting a container:

[code]

Switching back to crun 0.13 fixes the issue, so seems to be caused by a change since then.

This is running on an Ubuntu 16.04 VM:
[code]

This is the bundle used for testing: [crun-test-bundle.tar.gz](https://github.com/containers/crun/files/4492226/crun-test-

[2020-04-17 11:55] giuseppe commented on #337
yes, it is a change in crun to not consider 0 as undefined:

In your config.json file you have:

[code]

Before crun was ignoring the 0, but now it considers it as a defined value.

I think the error is in the config.json file that is trying to use a feature not present on the current kernel, these two values should not be present

[2020-04-17 12:22] giuseppe commented on #335
opened a PR: https://github.com/containers/crun/pull/338

[2020-04-18 10:11] #335 closed

[2020-04-19 08:27] devurandom opened #340 "creating cgroup directory '/sys/fs/cgroup/name=portage/user.slice/user-1000.slice/user@1000.service/buildah-buildah106535269-1629075.scope': Permission denied"
**Description**

When running `podman-compose up` on the attached docker-compose.yml (and Dockerfile), `podman build -t space-battles_server -f ./Dockerfile .` will be executed, which will eventually yield following error message:
[code]

**Steps to reproduce the issue:**
1. `podman-compose up`
2. Wait

**Describe the results you received:**
[code]

**Describe the results you expected:**
A running

[2020-04-20 10:24] TeknoVenus commented on #337
I see, thanks. Container works fine after either removing those values or setting them to null instead of 0.

[2020-04-21 07:15] devurandom opened #341 ".../bin/ld: error: libocispec/.libs/libocispec.a(lt1-json_common.o): multiple definition of 'map_uint'"
Building crun 0.13 I get:
[code]

My system is:
[code]

(crun-0.10.6 is currently installed, but I am building version 0.13.)

[build.log](https://github.com/containers/crun/files/4508258/build.log)

[2020-04-21 07:28] devurandom commented on #341
Should be fixed by: https://github.com/containers/libocispec/commit/9d58891c058efa55c7b95cb90597d4cadc5c66d8

Applying this patch locally after checkout allows me to build.

See-Also: https://bugs.gentoo.org/709982#c2

[2020-04-21 07:54] devurandom commented on #340
I believe that I am using cgroup v2 for everything but Gentoo's portage:
[code]

After I got crun to build (https://github.com/containers/crun/issues/341) and patched libcrun.so's `DT_NEEDED` (https://bugs.gentoo.org/717750), I can start my containers in `podman-compose` without any apparent issues. Thanks!

[2020-04-21 08:44] giuseppe commented on #341
thanks for the report.

The error should be fixed with git master, where the libocispec module points to the last version.  Could you confirm it?

[2020-04-21 18:54] devurandom commented on #341
I can easily build a released version using the existing ebuilds, but it would be a bit more involved to build from Git, unless someone already has a live ebuild for that.

I just confirmed that containers/libocispec@9d58891c058efa55c7b95cb90597d4cadc5c66d8 is a parent of containers/libocispec@ed8e5fea5c4a773123bcb9a6c02cb7e1fdf24c1a and hence this issue should be fixed.

[2020-04-21 18:54] #341 closed

[2020-04-22 07:55] giuseppe commented on #337
@TeknoVenus thanks for confirming it.  Can I close the issue or is there anything more to address in crun?

[2020-04-22 07:55] #340 closed

[2020-04-22 08:37] TeknoVenus commented on #337
You can close the issue now, thanks for the help

[2020-04-22 08:59] #337 closed

[2020-04-26 00:10] ZeroPointEnergy commented on #166
I just came across this issue because I try to run a program in a rootless container that checks for devpts to be mounted with gid=5. :upside_down_face:

Shouldn't this only be dropped in case if there really are not multiple IDs available so it still resembles a regular system as close as possible?

[2020-04-27 07:24] giuseppe commented on #166
are you referring to the config.json file generated by `crun spec`?  That file should be intended only as a template you can use to customize, it is definitely the crun caller (which in most cases is a container engine like Podman or Docker) to create the correct configuration.  If you have multiple IDs available, you can skip the `--rootless` flag :)  I think the default config file works well fo

[2020-04-27 08:04] ZeroPointEnergy commented on #166
Ah ok, then it is podman where I have to look at. Thanks for the explanations.

[2020-04-28 18:36] tdyas opened #346 "crun should warn if newuidmap fails to execute"
`crun` should issue a warning if it fails to run `newuidmap` or `newgidmap`.

I was attempting to run crun 0.13 in rootless mode in an environment which did not have `newuidmap` or `newgidmap` installed, and so `crun` just setup the container's user namespace with only a mapping for the superuser instead of also including the mapping defined in `/etc/subuid` and `/etc/subgid`.

I had to strace the

[2020-04-28 19:38] giuseppe commented on #346
thanks for the report.

Have you specified the ID mapping inside of the config.json file?

When there is no mapping specified, crun, differently than runc, tries to automatically create a user namespace.  For rootless users it tries first to use all the available subuids, otherwise it creates a single mapping namespace.  If we introduce a warning here, it will potentially hit all users that have n

[2020-04-28 20:56] tdyas commented on #346
I didn't, still learning how to use crun properly. I'm only tacitly aware of specifying the mapping in the config.json. Seems more direct than relying on the environment to have the sub[ug]id mapping files. Will try that. Thanks!

[2020-04-28 20:57] tdyas commented on #346
That said, maybe adding a trace mode so users can opt in to seeing such failures in the log? Or enable it for --debug mode?

[2020-04-29 06:51] giuseppe commented on #346
yes, I think that is a good idea.  I think `--debug` should show what is going on in this case

[2020-04-29 06:54] adrianreber commented on #71
With the merge of #342 this is now almost done. Once CRIU 3.14 is released I will bump crun's CRIU minimum version to 3.14 and enable the checkpoint/restore subcommands.

[2020-04-30 13:58] Anttikyll opened #349 "make error "undefined reference to `sd_bus_match_signal_async'" on Ubuntu"
I get the following error on Ubuntu 16.04. Tried with two different machines and running into the same issue on both.

[code]

[2020-04-30 20:19] giuseppe commented on #349
looks like the systemd version is too old and that function doesn't exist.  Any chance to update to a newer systemd?
In alternative you could try to build without systemd support, but then you are forced to use cgroupfs to manage cgroups

[2020-05-04 09:56] bolind commented on #332
Yes please, an updated rpm added to the Kubic Project alongside a fairly fresh podman would be heavenly!

[2020-05-04 11:28] bolind opened #351 "How does one build an rpm?"
I've gathered that it's probably `make rpm`, but I can't make it work (on CentOS 8). What OS/version has this been tested on?

[2020-05-04 14:33] giuseppe commented on #351
it should work on Fedora, the build for CentOS 8 needs some tweaks.

[2020-05-04 15:06] bolind commented on #351
OK. Do you remember some or all of those tweaks? I can give it a go.

[2020-05-04 20:53] giuseppe commented on #351
it is just different package names, and the lack of md2man:

[code]

does it work for you with the previous patch applied?

[2020-05-05 11:09] bolind commented on #351
Not quite:
[code]

Note that the tar.gz file is very small. Could it be due to the omitted python3-libmount?

[2020-05-05 12:00] giuseppe commented on #351
looks like that .tar.gz wasn't built correctly.

That happens before rpmbuild.  Could you try manually `make dist-gzip`?  Does it generate a proper tarball?

[2020-05-05 12:22] Anttikyll commented on #349
Sorry for the late reply. I've built without systemd support and it works fine for my use.

However, it's worth noting that Ubuntu uses systemd v229, but sd_bus_match_signal_async wasn't added until v237.

[2020-05-05 12:23] #349 closed

[2020-05-05 12:46] bolind commented on #351
It does not, and some of the other file formats give the same problem. Only one working properly is the zip target:
[code]
Curiously, things don't fail...

[2020-05-05 15:22] giuseppe commented on #351
do you get any error when you do `make dist-gzip`?  Hard to guess what is going on

[2020-05-06 06:52] bolind commented on #351
No, that goes through nicely with exit code 0. I'm guessing that somehow an empty directory (or nothing at all) is compressed. I'll investigate a bit and get back to you.

[2020-05-09 10:48] vianney opened #396 "Cannot start container with userns inside a pod"
/kind bug

**Description**

When running as root, one can specify the user namespace of a container by providing the `--[ug]idmap`, `--sub[ug]idname` or `--userns` options.  This works fine when running an isolated container.  It fails when running the container inside an existing pod with the `--pod` option.

From my understanding, the container fails to join the network namespace of the pod's in

[2020-05-10 12:10] vrothberg opened #353 "return stderr of hooks in case of an error"
Currently, when running Podman with crun, we get an error as follows when a hook fails:

Is it possible to print the stderr from the hook as well? This would facilitate debugging.

[2020-05-10 18:09] giuseppe commented on #353
crun was previously propagating the stdout/stderr files for hooks but that caused issues with containerd (more details here: https://github.com/containerd/containerd/pull/3883) so commit f351bb30567f1cdb5f53dd98d4cb9cbaae0e228c changed to redirect to `/dev/null`.

Would an OCI annotation be ok to address this issue?  It could be usable as: `run.oci.hooks-stderr=/dev/stderr` and `run.oci.hooks-stdo

[2020-05-11 08:48] vrothberg commented on #353
Sure, sounds good to me!

I couldn't figure out why commit f351bb3 was necessary. Can you elaborate why containerd didn't like it?

[2020-05-11 13:24] giuseppe commented on #353
it closes the other end of the pipe, so any output that is written by the hook will cause a write to a closed pipe

[2020-05-11 13:56] rhatdan commented on #353
Is there a way for crun to figure out if the Pipe is closed?

[2020-05-11 14:21] giuseppe commented on #353
I am not aware of a way to determine that, but I am afraid it would introduce a race condition, as the pipe could be closed after the crun check but before the hook uses it

[2020-05-11 14:33] rhatdan commented on #353
To me this seems like more of a bug in containerd, unless this is covered in the spec.  Would it be possible to somehow say that we want errors on stderr?

[2020-05-12 07:03] giuseppe commented on #71
I think we can already enable the subcommands and fix the dependency in the .spec file once I cut a new release.  Do you think the dependency should be at compile time?

[2020-05-12 07:23] adrianreber commented on #71
I am just fixing one more thing. So unfortunately not ready to be enabled. I tried to run Podman's checkpoint/restore tests and almost all tests are failing because the tests are using `-t` and the crun with CRIU cannot not yet correctly connect the console-socket back. This needs one more fix.

[2020-05-13 15:26] TeknoVenus commented on #353
I am writing some OCI hooks and it is difficult to debug them at the moment - having the ability to specify hook stdout/stderr locations like this (or similar with crun arguments) would be perfect for my needs as well.

[2020-05-13 15:30] adrianreber commented on #71
This change in CRIU (https://github.com/checkpoint-restore/criu/pull/1063) to be able to run Podman's checkpoint/restore tests with crun. Once these CRIU changes are merged I can open the corresponding crun PR.

[2020-05-13 20:10] giuseppe commented on #353
thinking more of it, I think the default behaviour is correct as the hooks output doesn't get mixed with the container processes output and it wouldn't work correctly in the case of `--log=FILE` as we'd still write to stdout/stderr.

I've added a custom annotation `run.oci.hooks-output=FILE` that permits to specify a file used for stdout/stderr for the hooks: https://github.com/containers/crun/pul

[2020-05-14 08:12] vrothberg commented on #353
That's a fair point! I was a 100 percent focused on pre-start hooks where we couldn't mix with container outputs.

I wonder how we can wire that into Podman to make it easy to users. Similar to `--conmon-pidfile`, we could have a default `hooks.log` for each container which could be changed with `--hooks-log` (which sets `run.oci.hooks-output`)? Setting `run.oci.hooks-output` by hand works for sur

[2020-05-14 12:18] rhatdan commented on #353
One issue with --hooks-log would be that it is crun specific.

[2020-05-14 12:56] giuseppe commented on #353
yes I think we should not expose it to podman users.  We can hardcode the annotation (as it is ignored by other runtimes) and have a fixed path for the hooks logs, we could expose it with `podman logs`.

I think we can keep it experimental for now and if it works fine we can propose the change for the OCI runtime specs.

[2020-05-17 02:50] hswong3i opened #358 "[openSUSE 15.1] Missing libseccomp headers"
For openSUSE 15.1 which already install with following packages:
[code]

After that try to compile crun with:
[code]

But result with following error message:
[code]

Detail error log could be found from here: https://travis-ci.com/github/alvistack/ansible-role-crun/jobs/335714655#L1096

P.S. other OS such as CentOS 8 or Fedora 32 or Debian 10 or Ubuntu 18.04/19.10/20.04 are all working fine ;-)

[2020-05-17 03:51] hswong3i opened #359 "[CentOS 7] Missing libsystemd headers"
For CentOS 7 which already install with following packages (p.s. YAJL installed from CentOS 8 due to too old from CentOS 7):
[code]

After that try to compile crun with:
[code]

But result with following error message:
[code]
P.S. other OS such as CentOS 8 or Fedora 32 or Debian 10 or Ubuntu 18.04/19.10/20.04 are all working fine ;-)

Understand that missing `systemd/sd-bus.h` due to legacy system

[2020-05-17 06:30] giuseppe commented on #358
thanks for opening the issue.

Could you check whether the seccomp.h file exist and what is its location?  We may need to tweak CFLAGS to include the search path

[2020-05-17 06:37] giuseppe commented on #359
I confirm that sd_bus is required to work with systemd, so we either use a newer version or `--disable-systemd`.

Whether disabling systemd is the right choice, depends on your user case.  How are you going to use crun?

Similarly for yajl, a newer version that what is available on CentOS 7 is required.  An alternative would be to compile a static version for libyajl and use it for building crun.

[2020-05-17 06:41] hswong3i commented on #358
[code]

[2020-05-17 06:55] giuseppe commented on #358
`/usr/include/libseccomp/seccomp.h` is not in the include path.  You'd need to specify `/usr/include/libseccomp` in the headers search path.

Does `./configure CFLAGS='-I /usr/include/libseccomp' work?

[2020-05-17 07:01] hswong3i commented on #358
Yes, working perfectly:
[code]

[2020-05-17 07:54] hswong3i commented on #359
IMHO upgrading systemd to 231 on CentOS 7 with https://copr.fedorainfracloud.org/coprs/jsynacek/systemd-backports-for-centos-7/ is relatively risky; I prefer with `--disable-systemd` style.

I will use it with both:
  - Podman v1.9.2 (https://github.com/alvistack/ansible-role-podman)
  - CRI-O v1.18.1 + Kubernetes v1.18.2 (https://github.com/alvistack/ansible-role-cri_o)

Generally I am NOT prefer

[2020-05-17 11:03] giuseppe commented on #358
thanks for confirming it.

[2020-05-17 11:03] #358 closed

[2020-05-17 11:04] hswong3i commented on #358
Shall this be fixed within crun, or overwrite by ourselves every time during compile?

[2020-05-17 11:17] #353 closed

[2020-05-17 12:43] giuseppe commented on #358
the header file is not in the standard search path, so I think it should be overwritten at build time

[2020-05-17 12:49] giuseppe commented on #359
yes, if you disable systemd though, you must ensure the same cgroup driver is used for Podman and CRI-O

[2020-05-17 12:52] hswong3i commented on #358
@giuseppe but that is the "stadard search path for openSUSE, when installing with zypper"... Couldn't we search path by using `pkg-config` rather than hardcoded?, e.g. (https://github.com/containers/crun/issues/358#issuecomment-629753147)
[code]

[2020-05-17 13:22] hswong3i commented on #359
Does this means both podman and crio should use `cgroup_manager = "cgroupfs"` instead of `cgroup_manager = "systemd"`?

It looks a bit silly for me since we could use `cgroup_manager = "systemd"` when running with CentOS 7 + runc + crio + kubernetes + cgroup v1...

[2020-05-17 13:29] giuseppe commented on #359
If crun is compiled only with cgroupfs then yes.  I have not really cared about centos 7 so far, but I can take a look and see what is possible to do to get systemd support

[2020-05-17 14:06] hswong3i commented on #359
I really love the idea of crun with c, instead of runc with go from docker; as long as switching all of my Ansible Roles/Collections to crun based I need to find a workable answer for both Ubuntu 18.04/19.10/20.04 and CentOS/RHEL 7/8 and openSUSE 15.1 and Debian 10 and Fedora 32.

Since most of my RHEL-based customers are still running with RHEL 7, in the meantime I will pin `cgroup_manager = "cgr

[2020-05-17 20:08] giuseppe commented on #359
I've seen some issues when running on CentOS 7 that I've fixed with: https://github.com/containers/crun/pull/357

You can use a static binary for crun, it works on CentOS 7 and you won't have to worry about external dependencies (https://github.com/containers/crun/tree/master/contrib/static-builder-x86_64).

Without that, I don't see a way for using the systemd backend given the version available

[2020-05-18 06:12] hswong3i commented on #358
@giuseppe I found this patch from openSUSE for LXC, with similar issue on libseccomp so using pkg-config to search the path: https://build.opensuse.org/package/view_file/openSUSE:Factory/lxc/configure-find-seccomp-using-pkg-config.patch?rev=45
[code]

Could we also do something similar for https://github.com/containers/crun/blob/master/configure.ac#L42-L51? If this idea looks good I may try for a

[2020-05-18 10:41] hswong3i opened #361 "crun master require systemd >= 237"
According to #331 (and some post 0.13 commits?), crun master minimal systemd requirement is now 237, which introduce installation difficulties on following OS:

### CentOS 7
Default with systemd 219 which absolutely too old; BTW, we could upgrade it to 231 by using https://copr.fedorainfracloud.org/coprs/jsynacek/systemd-backports-for-centos-7/ (see #359), which works with crun 0.13

### openSUSE

[2020-05-18 11:40] giuseppe commented on #361
I've tried with a static build for crun and it seems to work fine on CentOS 7, but please be aware some fixes from https://github.com/containers/crun/pull/357 are required.

Have you tried it?  Is it an acceptable solution?

[2020-05-19 03:51] hswong3i opened #362 "Ansible Role for crun"
I am now maintenance an Ansible Role for crun installation (https://github.com/alvistack/ansible-role-crun), by downloading the static binary release archive and extract it for following OS:
  - Ubuntu 18.04/19.10/20.04
  - RHEL/CentOS 7/8
  - openSUSE Leap 15.1
  - Debian 10
  - Fedora 32

Could we also introduce this as an alternative installation method, e.g. under https://github.com/containers

[2020-05-19 04:14] hswong3i opened #364 "Static Build with nix Package Manager"
Currently adhoc compile crun master from source code are blocked for following legacy OS:
- Ubuntu 16.04
  - systemd v229 is too old for sd_bus_match_signal_async (require systemd >= v237, see #349)
- CentOS 7
  - systemd v219 is too old for everything...
  - systemd v231 from https://copr.fedorainfracloud.org/coprs/jsynacek/systemd-backports-for-centos-7/ is still too old for sd_bus_match_signal_

[2020-05-19 04:15] hswong3i commented on #364
@saschagrunert could have more idea for nix?

[2020-05-19 04:17] hswong3i commented on #359
@giuseppe my primary goal is to provide an Ansible Role for crun (see #362) from source code for most supported OS; most likely static build with nix package manager could solve this problem (see #364)?

[2020-05-19 04:25] hswong3i commented on #361
@giuseppe my primary goal is to provide an Ansible Role for crun (see #362) from source code for most supported OS; most likely static build with nix package manager could solve this problem (see #364)?

[2020-05-19 04:42] hswong3i commented on #364
Oh does it already available in nix (see https://nixos.org/nixos/packages.html?attr=crun&channel=nixpkgs-unstable&query=crun)?

[2020-05-19 07:30] saschagrunert commented on #364
Hm, I see your points @hswong3i and I think it would be possible to build it via nix statically.

I guess improving the already existing static build toolchain might be a more valuable approach rather then removing it completely. I'm not sure what @giuseppe thinks about this.

[2020-05-19 07:44] giuseppe commented on #364
I think the *nix approach is cleaner, just I am not familiar with it.  @saschagrunert if you'd like we can move/maintain the *nix build scripts in the main repository and replace the existing build script

[2020-05-19 08:25] giuseppe commented on #346
@tdyas are you interested to work on it?

[2020-05-19 14:09] #362 closed

[2020-05-19 14:57] hswong3i commented on #364
Ideally if both crun/conmon/skopeo/buildah/podman/crio could provide static build based on nix, I could therefore simplify my Ansible Roles as simple as that for etcd/kubectl/kubeadm/kubelet (e.g. https://github.com/alvistack/ansible-role-etcd/blob/master/tasks/main.yml#L86-L102), which directly download the portable binary archive and go.

Before that all portable binary could be happened, I am g

[2020-05-19 16:22] saschagrunert commented on #364
I'm now working on the issue but got a question regarding systemd. I'll ask on the PR.

[2020-05-20 14:58] #364 closed

[2020-05-20 15:50] giuseppe commented on #361
is it solved with the new static build?

[2020-05-20 15:51] giuseppe commented on #359
is it solved with the new static build?

[2020-05-21 01:37] hswong3i commented on #359
Moving on for updating Ansible Role for crun with nix-based static build, once that complete my CI should looks good with CentOS and so I will come back and close this issue ;-)

[2020-05-21 01:38] hswong3i commented on #361
Moving on for updating Ansible Role for crun with nix-based static build, once that complete my CI should looks good with CentOS and so I will come back and close this issue ;-)

[2020-05-24 18:44] tdyas commented on #346
I am. I'll get a chance later this coming week to work on it.

[2020-05-25 13:50] harshadgavali opened #394 "Adds normal user to root group when container is launched with --user option"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Adds normal user to root group when container is launched with --user option.
Happens when running podman with sudo or without sudo.

**Steps to reproduce the issue:**
1. Create container and add normal user
[code]
2. Verify user groups
[code]
3. Verify with --user option
[code]

**Describe th

[2020-05-26 13:24] geverartsdev opened #370 "/usr/bin/crun: error while loading shared libraries: libyajl.so.2: cannot open shared object file: No such file or directory"
When installing crun from ubuntu package repository, the dependency `libyajl2` is missing.

Running `apt install libyajl2` fixes the issue.

[2020-05-26 13:45] onlyjob commented on #371
There is a potential because #240 is a _build integrity_ issue when headers generated for one version but build is done against another version of the library.

[2020-05-26 13:54] giuseppe commented on #371
runtime-spec is a Go library, only Go programs can use it.

crun and libocispec don't use any library side of runtime-spec.  They use only the specs schema (JSON files) that are present in the runtime-spec repository: https://github.com/opencontainers/runtime-spec/tree/master/schema.  These are the only files used by libocispec.

libocispec generates **both** the headers and the source code, so th

[2020-05-26 14:18] giuseppe commented on #370
thanks, from what repository have you installed crun?  Kubic?

[2020-05-26 14:20] geverartsdev commented on #370
I didn't install it manually, it came with podman, following the instructions of podman.io, so I guess that this is Kubic

[2020-05-26 15:58] giuseppe commented on #370
@lsm5 PTAL

[2020-05-27 14:54] #359 closed

[2020-05-27 14:54] #361 closed

[2020-05-27 23:32] hswong3i opened #374 "[CentOS 7] OCI No such file or directory: OCI runtime command not found error"
On CentOS 7, I try both :
- Official static binary (https://github.com/containers/crun/releases/download/0.13/crun-0.13-static-x86_64), or
- My nix-based static build (https://github.com/alvistack/crun/releases/download/0.13/crun-0.13-linux-amd64)

When running with podman v1.9.3 + `cgroup_manager = "systemd"` it through error:
[code]

When running with podman v1.9.3 + `cgroup_manager = "cgroupfs"

[2020-05-28 04:18] PaulFurtado commented on #245
I'm hitting this issue using `crun` under docker 18.09.9 as well, which of course, isn't using conmon.

In my case, the container is running as uid 23, so pid 1's UID is 23, and so is the owner of `/proc/1/fd/2`.

`stat /proc/1/fd/2` shows:
[code]
`id` shows:
[code]
and yet:
[code]

so the mode of the file definitely isn't the problem here. On the same server, if I run the same container using `ru

[2020-05-28 05:21] giuseppe commented on #374
can you try with master?

You need this patch for Centos 7: https://github.com/containers/crun/commit/12df67bb3ac3e99f495e61e6eef304850f9c5925

[2020-05-28 05:22] giuseppe commented on #245
@PaulFurtado do you have a reproducer for the issue?  There can be other reasons for the `EPERM`, what distro are you using and does it happen with every image?

[2020-05-28 05:49] #306 closed

[2020-05-28 05:57] hswong3i commented on #374
cherry-pick https://github.com/containers/crun/commit/12df67bb3ac3e99f495e61e6eef304850f9c5925 to my https://github.com/alvistack/crun/commits/0.13-linux-amd64, result nix-based binary goes to https://github.com/alvistack/crun/releases/tag/0.13 and https://github.com/alvistack/crun/releases/download/0.13/crun-0.13-linux-amd64, but still error as below:
[code]

[2020-05-28 06:19] hswong3i commented on #374
@giuseppe or, could we have another stable release, e.g. 0.14, for testing?

[2020-05-28 06:22] PaulFurtado commented on #245
@giuseppe it happens on both our custom linux distribution at work running docker 18.09 and docker 18.06 running containers of any linux distribution I tried. seccomp and selinux were disabled as well and `capsh` inside the containers indicated that the processes in both the crun and runc containers had the exact same capabilities.

I also just reproduced it on my personal laptop running Arch Linu

[2020-05-28 06:38] hswong3i commented on #374
@giuseppe ok so I did in this way for a custom static binary:
- https://github.com/containers/crun/tree/37c385d4
- https://github.com/alvistack/crun/releases/tag/37c385d4
- https://github.com/alvistack/crun/releases/download/37c385d4/crun-37c385d4-linux-amd64

But result still not good:
[code]

[2020-05-28 07:17] giuseppe commented on #374
there are more fixes on master that are needed for CentOS 7.  Could you use master?

I consider the current git master branch to be stable and I'll cut a new release soon, there is still some more stuff I'd like to get into first.  Also we will have some more time to get in more fixes for CentOS 7 if needed

[2020-05-28 07:21] hswong3i commented on #374
@giuseppe sorry that https://github.com/containers/crun/commit/37c385d4 is our current master...

[2020-05-28 09:53] giuseppe commented on #245
thanks for the info.  runc changes the ownership for the stdio fds to the user inside the container, crun doesn't do it.

That could be easily done with the attached patch, but I am not sure that it is the correct thing to do (in facts I've preferred to fix it in conmon when we had the same issue with Podman), as it opens up issues like:

[code]

We could special cases pipes but that looks like a

[2020-05-28 14:42] PaulFurtado commented on #245
@giuseppe in your output it looks like you're dealing with the PTY case which I didn't investigate. If you look at the `stat` output in my previous comment though, the file descriptor is actually owned by the non-root UID and GID the container is running with, but it still can't be opened by any process in the container

[2020-05-29 08:02] giuseppe commented on #245
@PaulFurtado I could reproduce the issue also without a TTY, following your reproducer, with the patch applied I cannot reproduce it anymore

[2020-05-29 14:01] geverartsdev opened #376 "crun exec throws "writing file `[...]/cgroup.procs`: Permission denied""
I am trying to launch a process in a container running in a user+mount namespace (created with rootlesskit), but when I do I get this error, while I actually have writing permission to the file:

#### Terminal 1
[code]

#### Terminal 2
[code]

Any idea of what is going on?

<details>
<summary>Here is the content of the config.json used to create the container</summary>

[code]

</details>

[2020-05-29 14:09] geverartsdev commented on #376
Doing the same thing with Podman (rootless) goes without a hitch si I guess that I am the one doing something wrong here, but I am having a hard time figuring what...

Would all of this be documented somewhere that I didn't find?

[2020-05-29 15:31] giuseppe commented on #376
looks like you are trying to use the systemd driver with rootless on cgroup v1.  That is not supported.

Does it work without `--systemd-cgroup`?

[2020-05-29 15:46] geverartsdev commented on #376
I am on cgroupv2, and limiting the cpu and memory actually works for the running container.  Struggle arise when trying to add a process in this container (which is attached to a control group)

Doing all the same thing whithout any resource management works just fine (unless I add `--systemd-cgroup` or `--cgroup-manager=systemd`)

[2020-05-29 16:06] geverartsdev opened #377 "Weird behaviour when running a container with `"terminal": true`"
When I try to run a container with the `config.json` option `"terminal": true`, the container makes a mess in my console after the execution is done.
In the example below, after the execution, using the enter key doesn't create a new line as it should (the expected behaviour is shown with runc)

[code]

Deactivating the option (`"terminal": false`) raises an error but makes everything good again.

[2020-05-29 16:42] giuseppe commented on #376
what crun version are you using?

While trying your reproducer, I've found some regressions caused by recent changes: https://github.com/containers/crun/pull/378

[2020-05-29 17:07] geverartsdev commented on #376
I wish I could tell...  It came with podman, from Kubic repositories i think
[code]

I will try with the last version as soon as I can

[2020-05-29 17:56] geverartsdev commented on #376
I just build it up from sources, but the problem persists
[code]

[2020-05-31 09:14] giuseppe commented on #374
do you have some error logs I can look at or a way for me to reproduce the issue?

[2020-05-31 09:52] giuseppe commented on #376
that should not affect how the cgroups are used, could you show me the output for `cat /proc/self/mountinfo` after you join the rootlesskit namespaces?

[2020-05-31 10:09] geverartsdev commented on #376
[code]

[2020-05-31 10:17] geverartsdev commented on #376
Strangely, if I use `podman unshare` instead of `rootlesskit` + `nsenter`, everything works as expected...

[2020-05-31 11:30] giuseppe commented on #376
the mount table seems fine.

I am still not able to reproduce on Fedora 32.  I am using rootlesskit (748ea095d9b18f9ea9e8a3487a2e43dce534ca8c) and tried both crun 0.13 and current master.

[2020-05-31 12:54] geverartsdev commented on #376
I just build rootlesskit from source, same commit as yours, and I still have the same problem...  (I am on Ubuntu 20.04)
Looking at strace of the command, `openat` succeed, `write` fails:
[code]

I wrote a simple test code, and apparently the error is not proper to `crun`
[code]
[code]

Being quite desperate by this error, I made a quick tour back in cgroupv2 documentation and found this:

I guess

[2020-05-31 16:18] giuseppe commented on #376
one reason is that the process is not in a cgroup owned by the current user.

What is the difference in `cat /proc/self/cgroup` if you try from  `podman unshare` and from `nsenter` namespaces?  If you don't own the current cgroup, then you can't move a process out of it.  You may need to create the cgroup with `systemd-run --user --scope ...`

[2020-05-31 16:39] geverartsdev commented on #376
As expected podman unshare leads us in a scope under user@1000.service and a simple nsenter doesn't

And this indeed allows to create the scope right under the user service, as we want to...
Here is the output of the different commands to illustrate
[code]

With all of this I managed to make it work with rootlesskit as well!
Once again, thank you a lot for your help!

(Am I supposed to close the i

[2020-05-31 20:23] giuseppe commented on #376
I can close the issue.  Thanks for helping me debugging it.

I should probably add a check for this situation and give a more helpful error message.

[2020-05-31 20:23] #376 closed

[2020-06-01 09:01] AkihiroSuda opened #382 "[rootless+cgroup2+CRI+"privileged"] setrlimit (RLIM_MEMLOCK): Operation not permitted"
I confirmed I can create `crictl` pods and containers with rootless crun + containerd + cgroup2.

However, creating a "privileged" container (which is not really privileged) fails with `setrlimit (RLIM_MEMLOCK): Operation not permitted`. This error is not reproducible with `docker (podman) run --privileged`.

## Repro

https://github.com/AkihiroSuda/critest-rootless-cgroup2/tree/v0.0.2

[code]

Ma

[2020-06-01 09:05] AkihiroSuda opened #383 "[cgroup2] (Regression in #316) opening file `cpu.weight` for writing: Permission denied: unknown."
crun a4f4fb90835bb79cd12bafb14a5b3d3f55edd7c6 doesn't work with Docker (cgroup2+systemd).

[code]

The error does not happen on crun v0.13.

## `docker info`
[code]

[2020-06-01 09:38] AkihiroSuda commented on #383
git bisect: 65f93d4203442b4707981c8c4f0a82ad9032704f is the first bad commit

[2020-06-01 13:42] giuseppe commented on #382
thanks for the reproducer.

I've changed the ignore condition to not consider the "allow" value.  I needed to do so, since Podman rootless sets it to "false" so I had to avoid a breaking change.

[2020-06-01 13:47] giuseppe commented on #383
does Docker sets the value to 0 in the `config.json` value?  That is not a valid input, but we can teach crun to ignore it as it used to do before 65f93d4.

Could you help me to test https://github.com/containers/crun/pull/385 whether fix the issue you've seen?

[2020-06-01 13:49] giuseppe commented on #382
another issue I've seen is that `crictl exec -ti` won't work since there is no `/dev/ptmx` inside of the container.  I guess that should be done at creation time or not using `-t`?

[2020-06-02 02:43] AkihiroSuda commented on #383
`config.json` is like this:
[code]

[2020-06-02 03:04] AkihiroSuda commented on #383
Opened a moby PR as well: https://github.com/moby/moby/pull/41053

[2020-06-02 09:32] AkihiroSuda commented on #382
Yes, ptmx stuff should be created.

[2020-06-02 09:51] giuseppe commented on #382
Is it an issue in the configuration or something that should be addressed by crun?

[2020-06-02 09:53] AkihiroSuda commented on #382
Should be addressed by crun. The privileged CRI example works on runc with https://github.com/opencontainers/runc/pull/2451 . crun should behave same.

[2020-06-02 12:00] giuseppe commented on #382
thanks, opened a PR: https://github.com/containers/crun/pull/387

[2020-06-02 19:12] #382 closed

[2020-06-03 20:03] #383 closed

[2020-06-05 10:22] Koczek9 opened #390 "Bind mount are always read only"
I am trying to create bind mount without read only. I am later touch'ing file inside container but I get permission denied. Directories are set to chmod 777 so no permission issues should be found.
Steps to reproduce:
1. Unzip attached file
[simple_crun_bundle.zip](https://github.com/containers/crun/files/4735392/simple_crun_bundle.zip)
2. Create "somePathOnSource" (or change it in the config to s

[2020-06-05 12:05] giuseppe commented on #390
can you please show me the output for `cat /proc/self/mountinfo` from inside the container?

I see you are using user namespaces, is `somePathOnSource` on NFS or any network file system?

[2020-06-05 12:42] Koczek9 commented on #390
I use runc inside Vagrant VM. The "somePathOnSource" in my case is "/vagrant/simple_crun_bundle/rootfs/xyz". The output of "cat /proc/self/mountinfo" from inside the container is:
`93 49 0:39 /simple_crun_bundle/rootfs / rw,nodev,relatime - vboxsf /home/vagrant/vagrant rw,iocharset=utf8,uid=1000,gid=1000
94 93 0:41 / /proc rw,nosuid,nodev,noexec,relatime - proc proc rw
95 93 0:42 / /tmp rw,nosuid,

[2020-06-05 16:04] giuseppe commented on #390
the bind mount looks correct:
[code]

It is `rw`, not `ro`.  I think the issue is the vboxsf file system not performing well inside of a user namespace.  You could either try without a user namespace, or a different path on the vagrant box not handled by `vboxsf`

[2020-06-05 17:56] #371 closed

[2020-06-06 06:23] onlyjob commented on #371
Awesome. Many thanks for fixing this problem and for explanation regarding use of _runtime-spec_.

Is there a potential for run-time problems due to inconsistency between Crun's _runtime-spec_ library and Podman's _runtime-spec_? I would like to build all interacting software against the same version of _runtime-spec_ but #240 makes it difficult...

[2020-06-06 10:39] gdm85 commented on #370
I can confirm the same issue, using `https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04/`

[2020-06-06 10:52] gdm85 commented on #371
The same set of security guarantees for any process; it is about about inter-container security, escaping a container, resource access security (which in case of memory can lead to privilege escalations); definitely a bad idea to disable this.

I see this issue has been recently fixed, it is also affecting Ubuntu 18.04; I am going to cherry-pick https://github.com/giuseppe/crun/commit/4dcc7e5fa6a5

[2020-06-06 16:24] rhatdan commented on #370
@saschagrunert PTAL

[2020-06-06 16:29] lsm5 commented on #370
i guess this one's on me. Please assign this to me. I can't seem to assign myself in this repo.

[2020-06-08 06:32] Koczek9 commented on #390
I can confirm that it works when I use some path not handled by `vboxsf`. i.e. when I have mount like `117 93 8:1 /home/vagrant/myTemp /somerandomstring rw,relatime - ext4 /dev/sda1 rw,data=ordered` then touch works fine.

[2020-06-08 06:37] #390 closed

[2020-06-08 13:28] lsm5 commented on #370
should be fixed in the latest 0.13~2 https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/crun

[2020-06-08 13:45] geverartsdev commented on #370
I can confirm it is, `libyajl2` in now installed with crun.

[2020-06-08 13:45] #370 closed

[2020-06-08 14:23] TeknoVenus opened #393 "--console-socket not working for exec command"
When running a command in a container with `crun exec --console-socket /tmp/socket.sock <container-id> arg`, the output of the command is not sent to the socket.

Starting a container with the normal `crun create` + `crun start` or `crun run` flow with a console socket works as expected, but when using `crun exec` the output from the command is not sent over the socket.

Steps to reproduce:
* Crea

[2020-06-08 20:11] giuseppe commented on #394
thanks, opened a PR: https://github.com/containers/crun/pull/395

[2020-06-08 20:16] giuseppe commented on #393
you need to specify also `-t` to create a terminal:

[code]

Does it solve the issue you've seen?

We should probably raise an error when `--console-socket` is used without `-t`

[2020-06-09 15:19] TeknoVenus commented on #393
Hi,

Ah, that fixed the issue - many thanks. I see that option in the documentation now, missed that earlier.

Agree, an error if you try and use `console-socket` without `-t` makes sense since it doesn't make much sense to have one without the other.

[2020-06-09 15:19] #393 closed

[2020-06-10 06:52] giuseppe commented on #396
This must be addressed in the OCI runtime, moved to crun.

[2020-06-10 14:24] mehrar opened #398 "Request for new tagged release"
Request to release crun with an incremented minor release version number. Its been a while since the last release of crun - we are currently ~171 commits behind tip.

[2020-06-10 16:05] giuseppe opened #399 "use libyajl to generate hooks json input"
`do_hooks` must be fixed to use libyajl for generating the JSON input file to hooks instead of `xasprintf`

[2020-06-11 11:49] #394 closed

[2020-06-11 18:05] giuseppe commented on #398
@adrianreber is it worth waiting a bit longer for CRIU support or is it still blocked?

[2020-06-11 18:27] #396 closed

[2020-06-11 18:38] adrianreber commented on #398
No, do not wait on CRIU. Not sure how fast the changes will be part of a release.

[2020-06-12 06:17] xy815661276 opened #402 "create keyring `mynginx`: Operation not permitted"
I encountered the following problem, I don't know why, can you provide me some help? thank you very much!!!!!
`[root@e05b8dfc1477 ~]# cd nginx/
[root@e05b8dfc1477 nginx]# ls
rootfs
[root@e05b8dfc1477 nginx]# crun spec
[root@e05b8dfc1477 nginx]# ls
config.json  rootfs
[root@e05b8dfc1477 nginx]# crun run mynginx
2020-06-12T06:14:42.000785379Z: create keyring `mynginx`: Operation not permitted`

[2020-06-12 08:09] giuseppe commented on #402
can you please provide more details?  What distro and kernel are you using?

[2020-06-12 08:53] xy815661276 commented on #402
I am using docker container from image fedora,and I use the command "docker export $(docker create busybox) | tar -C rootfs -xvf -" to generate rootfs.
After I build the crun in the fedora contaner,I copy the rootfs to container.Then I run the commond "crun spec" and "crun run mynginx".But the following problem occurred:
![image](https://user-images.githubusercontent.com/40882058/84484372-4094fb00

[2020-06-12 08:57] xy815661276 commented on #402
Forgot to say, my kernel information is as follows:
Linux ecs-sn3-medium-2-linux-20191106000015 4.15.0-91-generic #92-Ubuntu SMP Fri Feb 28 11:09:48 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2020-06-12 10:59] giuseppe commented on #402
what distro is it?  I've tried on Ubuntu 16.04 with linux 4.15 and it works fine

If creating a new keyring fails, you can try `--no-new-keyring`

[2020-06-12 11:33] xy815661276 commented on #402
I am using Ubuntu 18.04 with linux 4.15,I've tried `--no-new-keyring`,But there are still the following errors, thank you for your help
![image](https://user-images.githubusercontent.com/40882058/84497239-f158c580-ace0-11ea-97dd-5363451c1a0a.png)

[2020-06-12 14:42] giuseppe commented on #402
can you show me the output for `cat /proc/self/mountinfo` ?

[2020-06-12 14:52] xy815661276 commented on #402
ok.this is the info:
`[root@20c6e4dc892e /]# cat /proc/self/mountinfo
179 113 0:44 / / rw,relatime master:85 - overlay overlay rw,lowerdir=/var/lib/docker/overlay2/l/JW5FF566BPRNEVWHNALFHWQP76:/var/lib/docker/overlay2/l/ZEN6XHZVSTAFF2PN6BVWO2FLNV,upperdir=/var/lib/docker/overlay2/a82bfacce615dd1e29a78ce54527d6062656c0ed313d3d88933a8df431777ac6/diff,workdir=/var/lib/docker/overlay2/a82bfacce615dd1e

[2020-06-12 14:54] xy815661276 commented on #402
[root@20c6e4dc892e /]# cat /proc/self/mountinfo
179 113 0:44 / / rw,relatime master:85 - overlay overlay rw,lowerdir=/var/lib/docker/overlay2/l/JW5FF566BPRNEVWHNALFHWQP76:/var/lib/docker/overlay2/l/ZEN6XHZVSTAFF2PN6BVWO2FLNV,upperdir=/var/lib/docker/overlay2/a82bfacce615dd1e29a78ce54527d6062656c0ed313d3d88933a8df431777ac6/diff,workdir=/var/lib/docker/overlay2/a82bfacce615dd1e29a78ce54527d6062656c0

[2020-06-12 14:55] xy815661276 commented on #402
ok,this is the info:
![image](https://user-images.githubusercontent.com/40882058/84516070-d9446e80-acff-11ea-90f5-bce2da331dd0.png)

[2020-06-12 15:45] giuseppe commented on #402
are you running inside of a container?  Why is `/sys/fs/cgroup` mounted as read only?

[2020-06-12 15:46] giuseppe commented on #402
I guess so, in this case you need to edit the `config.json` file and drop the `resources` block

[2020-06-13 06:25] xy815661276 commented on #402
Thank you very much!
I have no problem after using fedora operating system.I guess it is the reason for the Ubuntu image with 18.04.

[2020-06-13 10:42] giuseppe commented on #402
what version of crun are you using?  Could you try if the current git development version works better?

[2020-06-13 13:15] xy815661276 commented on #402
I am using the current git development verison.It works better with foreda.

[2020-06-15 11:23] Koczek9 opened #404 "Shared mounts created in "CreateRuntime" hook are not shared."
Overview:
I am trying to create loopmount feature inside container. To do that I would like to create loop device and mount it in CreateRuntime hook to some temporary location and then in CreateContainer re-mount it to some location within container rootfs. I am stopped because when I try to create mount with "shared" property inside of "CreateRuntime" hook it will not be shared - meaning on Creat

[2020-06-15 12:12] TeknoVenus opened #405 "Crun master fails to build in Ubuntu 16"
The tip of crun (181135c813194d606b04bf9d40bb0845b530992a) fails to build in Ubuntu 16.04.

Doing a `git bisect` shows the issue was introduced in 87b33ab48e95dcfec13de03b206f4ea363814222

Build commands:
[code]

Output:
[code]

[2020-06-15 14:32] giuseppe commented on #405
fixed with: https://github.com/containers/crun/pull/401

[2020-06-15 14:39] TeknoVenus commented on #405
Tested and builds fine with that PR. Thanks.

[2020-06-15 14:39] #405 closed

[2020-06-16 15:52] TeknoVenus opened #406 "Container Hooks running out-of-order"
According to the OCI specification [here](https://github.com/opencontainers/runtime-spec/blob/master/config.md#posix-platform-hooks), hooks must run in the following order:

* prestart
* createRuntime
* createContainer
* startContainer
* postStart
* postStop

Creating a simple bundle in crun to run a shell script at each hook point shows the hooks are not being run in that order - the startContain

[2020-06-17 13:50] giuseppe commented on #406
thanks, that is indeed a bug, opened a PR here: https://github.com/containers/crun/pull/408

I've added some comments in the git log, as I am not sure how to satisfy the OCI requirement of "executed process".  I think it should be clarified in the OCI specs.

[2020-06-17 16:55] TeknoVenus commented on #406
Thanks. Agree, the OCI spec doesn't make it too clear.

On a similar note - when doing `create create` followed by `crun exec` to start a *new* container (running whatever arg was provided to exec instead of the argument in the config file), should crun also run the `startContainer` and `postStart` hooks?

The OCI spec doesn't define the behaviour for the exec command so it's not exactly clear wha

[2020-06-18 12:15] Koczek9 commented on #404
This problem can be workaround using json provided to hooks stdin. If inside container one will read stdin it will contain json which contains several useful parameters, in this case containerPid is the one it will be useful. So workaround looks as follows

1. Create loop device and attach it to file (inside host)
2. Get containerPid from json from stdin
3. From container mount namespace (get by p

[2020-06-19 14:03] TeknoVenus opened #410 "StartContainer hook stdout/err incorrect"
When starting a container that uses `startContainer` hooks and sending the output of the hooks to `/dev/stdout` using the `run.oci.hooks.stdout` annotation, the output of the `startContainer` hook behaves differently than the output of the other hooks.

In my scenario, I want to send all the hook output to stdout/err so I can capture it with another tool and send it elsewhere. However, I am unable

[2020-06-19 19:35] giuseppe commented on #410
do you have a reproducer for the first issue?

I've tried the following configuration:

[code]

and I always get the output from the hooks on stdout.

About the second issue, I think it is expected that the output is interleaved.

the postStart hooks are called from the runtime process, while the startContainer hooks are called from the container process: https://github.com/opencontainers/runtime-

[2020-06-22 10:02] TeknoVenus commented on #410
For the first issue - try with this bundle: [hooktestbundle.tar.gz](https://github.com/containers/crun/files/4812521/hooktestbundle.tar.gz). You'll need to change the file paths for the hooks as they're absolute paths for my VM. As before, the output from both hooks appears on the terminal without the redirection, but when I try to redirect the stdout to the file the `startContainer` hook doesn't

[2020-06-22 13:15] giuseppe commented on #410
I think that what is happening here is that both the hook output file and the container stdout point to the same file.

The hook output file is properly written by the hook, but when the container starts its stdout FD has the offset set to its old value (before the hook appended data to the file) so it gets overwritten.  If you try without the `echo "Hello World ${i}"`, does it work fine?

[2020-06-22 13:23] giuseppe commented on #410
PR here: https://github.com/containers/crun/pull/413

[2020-06-22 14:53] TeknoVenus commented on #410
That would make sense.

However, testing with that PR has made things weirder unfortunately! This is with the same bundle above (although I changed the main process just to print `Hello World - This is the main container script` instead of looping.

The below seems as expected
[code]

However, this is not right and I have no idea how this happened!
[code]

I'm not sure that was the fix!

If I set

[2020-06-22 15:07] giuseppe commented on #410
wouldn't be safer to use a file to redirect the hooks output instead of `/dev/stdout`?  I'll take a look at what is happening with the PR I've opened

[2020-06-22 15:27] giuseppe commented on #410
sorry I've done a mistake in the previous version of the PR.  Could you please check if the updated version works better?

[2020-06-22 15:49] TeknoVenus commented on #410
Probably would be, I was trying to avoid having to create a new file for the hooks but might have to.

With the latest PR, still seems slightly odd

[code]

[2020-06-22 16:17] giuseppe commented on #410
the startContainer output is tied to the container process (that is created by `crun create`), the `crun start` process has no access to its output.

What would be the expected output?

[2020-06-22 16:26] TeknoVenus commented on #410
Ah, it's just clicked - I've been misunderstanding things. I was expecting to see the startContainer and postStart hooks in the start logfile, since they're both run once you call `start`. However, I forgot that the `startContainer` hook is tied to the container process so as you say, it can't appear in the start logfile.

As that's the case - with the latest PR everything seems to be working corr

[2020-06-22 17:52] #410 closed

[2020-06-23 13:38] goochjj opened #414 "crun passes NOTIFY_SOCKET wrong"
It appears crun only ever bind-mounts NOTIFY_SOCKET to a socket named "notify"
[code]

Failing test
[code]

Notice the ENV is /run/testnotify but the socket is /run/notify

Change it to /run/notify and it works
[code]

crun is using the parent directory of NOTIFY_SOCKET but assuming the socket name is always "notify".  If it's going to do that, it needs to fix NOTIFY_SOCKET properly.  Or, it needs

[2020-06-23 14:23] giuseppe commented on #414
thanks for the report, I've opened a PR to address the issue

[2020-06-23 22:56] #414 closed

[2020-06-25 11:40] giuseppe commented on #398
PR here: https://github.com/containers/crun/pull/416

[2020-06-25 11:49] trusch opened #417 "relative command/entrypoint is not working"
I just migrated my system to cgroupsv2 which caused podman to use crun instead of runc. Unfortunately one of my containers relied on being able to resolve commands/entrypoints which are relative to the current working directory.

This here illustrates the problem:
[code]

My podman info, if that helps:
[code]

[2020-06-25 12:32] giuseppe commented on #417
thanks for the report.

I've opened a PR here: https://github.com/containers/crun/pull/418

Could you try it if it works for you?

Alternatively, a workaround with crun 0.13 is to specify `./bin/ls` (note the `./` prefix)

[2020-06-26 08:41] trusch commented on #417
It works for me, thanks for the quick fix.

[2020-06-29 12:32] #417 closed

[2020-07-01 06:26] xy815661276 opened #421 "How to run crun under ARM architecture?"
I want to run crun under ARM architecture, can you provide me some ideas? How can I compile binaries running under ARM architecture? Thank you

[2020-07-01 07:31] giuseppe commented on #421
you should be able to compile crun on ARM in the same way as specified in the README.md file.

Once you have all the dependencies installed, it is enough to run b`./autogen.sh && ./configure && make`.

What distro are you using?

[2020-07-01 08:30] xy815661276 commented on #421
I am using ubuntu 18.04 of the X86 architecture. I do not have an ARM-based operating system. I want to cross-compile the binary files that ARM can run under X86.

[2020-07-01 09:48] AkihiroSuda commented on #254
Can we write a controller name to the file one by one and report the name of the failed controller?

[2020-07-01 13:26] giuseppe commented on #421
you need to have a cross-compile toolchain for that.

I've tried to do so with the nix builder but I encounter an error while building go-md2man

[2020-07-02 09:46] giuseppe commented on #422
PR here: https://github.com/containers/crun/pull/423

[2020-07-02 12:15] #422 closed

[2020-07-02 18:19] #398 closed

[2020-07-02 21:22] kloczek opened #424 "0.14: test suite is failing"
full build log with test suite execution and some compile warnings:
[code]

[2020-07-03 07:59] giuseppe commented on #424
thanks for the report.  These tests require a newer kernel, we should skip them on older systems.

They require 5.3+.  What kernel are you using?

[2020-07-03 08:00] giuseppe commented on #424
and I see also an issue with `/init` not beling static.

What is the output for `ldd tests/init` ?

[2020-07-03 14:18] kloczek commented on #424
[code]

[2020-07-03 14:19] kloczek commented on #424
[code]

[2020-07-03 14:20] giuseppe commented on #424
the issue you are seeing then is caused by the init binary not built statically.

What do you see if you do `rm -f tests/init && make V=1 tests/init`

[2020-07-03 16:57] kloczek commented on #424
But about static linking with which one library you are talking about?
[code]

[2020-07-03 17:02] kloczek commented on #424
In Makefile.am I see:
[code]
Issue is that I'm building everything without aby static linking because I'm trying to avoid that type of linking.
Why do you need to ling that executable as 100% statically linked binary? I see first time ever that kind of dependencies.

[2020-07-03 17:06] kloczek commented on #424
Try to think that many distributions have no any statc libraries in devel resourcea,
On Solaris for example it is not even possible to build libc as static archive. The same is in most of the *BSD systems.
`-all-static` is GNI specyfic extension and should not be used explicite in automake *_LDFLAGS variables.

[2020-07-03 18:22] giuseppe commented on #424
`tests/init` is used only for the tests.  It is a binary that is injected inside the container to perform different checks.  crun works only on GNU/Linux, portability to other operating systems is not an issue.  But it must be possible to link statically to glibc.

[2020-07-03 19:34] kloczek commented on #424
If it is only about prepare some set of libraries to be able to operate in container all necessary DSOs could be copied from system resources.

Really .. more and more Linux distributions abandons completely all static linking and provide static variants of the libraries so I'sooner or later ll be not only one. crun is probably only package which found in last two years which has hard coded such s

[2020-07-03 19:53] giuseppe commented on #424
I am not saying it is ideal, it just simplifies the test :) we could as well use a mini container image, but that requires internet access while the current `init` binary is self contained

[2020-07-03 20:03] kloczek commented on #424
I think that better would be bite that from other angle.
What kind of tool is used to assemble such image out of system resources? :P

[2020-07-04 11:07] giuseppe commented on #424
one way of doing it is to resolve recursively all the libraries linked by the init process and copy them as well inside of the container image.  That seems overkilling though, isn't easier to just install glibc-static ?

[2020-07-04 12:39] kloczek commented on #424
As I wrote .. I have no glibc-static :)
And trust me soon will be more people like me :P
Will try to check how to implement that in middle of next week.

[2020-07-05 10:03] avikivity opened #426 "regression: bind-mounting onto a symlink fails with "Error: openat2 `localtime`: No such file or directory: OCI runtime command not found error""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Bind-mounting a file that happens to be a symlink in the container ("to" path) fails. This works in older versions.

**Steps to reproduce the issue:**

1.  `podman run --rm  -v /etc/localtime:/etc/localtime:ro -it docker.io/fedora:32`

**Describe the results you received:**

```Error: openat2

[2020-07-05 13:45] giuseppe commented on #426
thanks for the report, opened a PR: https://github.com/containers/crun/pull/427

[2020-07-06 03:24] hswong3i commented on #374
@giuseppe crun-0.14 with `--disable-systemd` working fine for CentOS/RHEL 7 ;-)

I upload it as https://github.com/alvistack/crun/releases/download/0.14/crun-0.14-linux-amd64 and working ;-)

[2020-07-06 18:58] #426 closed

[2020-07-08 15:33] c-goes commented on #421
It's also possible to use OpenEmbedded like this https://davidjenei.com/post/yocto-podman/
Just leave the podman out and you have crun running on ARM device.  crun version is a bit outdated in meta-virtualization but it works.

[2020-07-09 07:41] giuseppe commented on #426
bodhi build for Fedora 32: https://bodhi.fedoraproject.org/updates/FEDORA-2020-4402075bbd

[2020-07-09 08:59] LiangZhou9527 opened #432 "the kill command does not work"
Hello,

I tried the crun command kill, seems there's no effect. for example:
crun kill  mycontainer
or
crun kill --all mycontainer

Checked the crun code, it fetches the container "mycontainer" 's status then got the pid and send the SIGTERM to the pid. But in theory the pid cannot be aware of the kill command because of the namespace isolation.

Any thoughts ?

Thanks.

[2020-07-09 09:11] avikivity commented on #426
Looks wrong. The bad crun is 0.14-2 and this is 0.14-1, which is lower. The version should be 0.14.1-1, no?

[2020-07-09 10:46] giuseppe commented on #432
the kill is issued from the source pid namespace so it doesn't matter that there is a new PID namespace for the container.  If the container doesn't react to SIGTERM you can specify another signal:

does `crun kill mycontainer SIGKILL` work?

[2020-07-09 11:23] giuseppe commented on #426
sorry my mistake.  I thought the autobuild bot we use took care of it, but it didn't.  I've done it manually: https://bodhi.fedoraproject.org/updates/FEDORA-2020-a0585a88fd

[2020-07-09 14:00] LiangZhou9527 commented on #432
Thanks for your comments.
Yes SIGKILL works.

[2020-07-09 14:40] giuseppe commented on #432
could we close the issue?  It is the container process to not react to SIGTERM, nothing crun can do about it

[2020-07-09 14:44] LiangZhou9527 commented on #432
yes, I think so. I'll close it.
Appreciated for your help.

[2020-07-09 14:44] #432 closed

[2020-07-10 05:52] xy815661276 commented on #421
Thank you for your answer,but I just want to compile crun as static which can run on ARM device,I try to use docker container arm64v8/fedora to compile,but  encountered an error,Here is the log:
`../configure CRUN_LDFLAGS='-all-static' LDFLAGS="-static-libgcc -static" LIBS="/usr/lib64/libsystemd.a /usr/lib64/librt.a /usr/lib64/libpthread.a /usr/lib64/libcap.a /usr/lib64/libseccomp.a /usr/lib64/lib

[2020-07-10 05:55] xy815661276 commented on #421
Thank you for your answer,but I just want to compile crun as static which can run on ARM device,I try to use docker container arm64v8/fedora to compile,but encountered an error,Here is the log:

../configure CRUN_LDFLAGS='-all-static' LDFLAGS="-static-libgcc -static" LIBS="/usr/lib64/libsystemd.a /usr/lib64/librt.a /usr/lib64/libpthread.a /usr/lib64/libcap.a /usr/lib64/libseccomp.a /usr/lib64/liby

[2020-07-12 05:18] xy815661276 opened #433 "invalid file system type on '/sys/fs/cgroup'"
I what to use crun-x86-static on my android-x86,I added the Linux kernel compilation option to make Android-x86 support Linux container features.I used `crun-0.14.1-static-x86_64` to test on my android-x86.
The directory is as follows：
[code]

The contents of  `/sys/fs/cgroup`  are：
[code]

But when I run `crun run mybusybox`,I encountered an error:

[code]

I don’t know what changes were made in

[2020-07-12 06:48] giuseppe commented on #433
what is the output for `stat -f -c %T /sys/fs/cgroup`?  It should either be `cgroup2fs` for cgroup v2 or `tmpfs` for cgroup 1.  From the output it seems you are using cgroup v1

[2020-07-12 08:59] xy815661276 commented on #433
Thank you for your answer.The output for stat -f -c %T /sys/fs/cgroup is `sysfs`,so I `mount tmpfs /sys/fs/cgroup -t tmpfs -o size=1G`.And I `docker run --runtime=crun hello-world`,but encountered aother error:
[code]

[2020-07-12 09:10] xy815661276 commented on #433
There is no problem using runc，I try to use podman to test crun on my android-x86,but still encountered an error:
[code]

[2020-07-12 09:28] giuseppe commented on #433
how have you mounted the cgroups?  It is not enough to create a `tmpfs` mount, but you'll also need to make sure the controllers are mounted.
Otherwise you can force Podman to not use cgroups with `--cgroups disabled`.

[2020-07-12 13:55] xy815661276 commented on #433
thank you very much,everything is ok with podman.
When I mount all cgroups to `/sys/fs/cgrou`.

[code]

[2020-07-12 14:10] xy815661276 commented on #421
@giuseppe Hi,giuseppe
I want to ask how can I compile crun to get an ARM architecture's crun-static?I really want to get it because I guess there will be more and more devices with ARM architecture in the future.
Only x86 crun-static in release.I have done a few days of experiments, but the compilation has not been successful. Can you give me some suggestions?thank you very much.

[2020-07-13 10:12] giuseppe commented on #433
can we close the issue?

[2020-07-13 10:19] xy815661276 commented on #433
ok,no problem.

[2020-07-13 10:59] giuseppe commented on #421
would it be possible to build in natively on ARM?

[2020-07-13 12:02] #433 closed

[2020-07-13 21:53] giuseppe commented on #254
good idea.  I've added the change as part of https://github.com/containers/crun/pull/434

[2020-07-14 08:04] #402 closed

[2020-07-19 08:09] #374 closed

[2020-07-22 16:10] giuseppe commented on #421
I managed to cross compile a static binary for raspberry pi using nix build:

[code]

I am not a nix expert (and I am sure what I've posted above is hacky), but I think this is the best way forward for supporting cross compilation.

@saschagrunert what do you think?

[2020-07-23 07:20] saschagrunert commented on #421
Yes that's a great use case for cross compilation. How long does it take to compile the binary? I think if we follow [the Cross Compilation Guide](https://nixos.wiki/wiki/Cross_Compiling) then we can create a config which supports both (or we split-up the files if it gets too messy).

[2020-07-23 12:04] xy815661276 commented on #421
Sorry for not replying before, I wanted to use arm64v8 docker container to compile before, but I encountered the previous error and couldn't solve it.
Thank you very much for your solution!It is very good to use nix for cross-compilation. Using your solution, I have successfully compiled crun of the aarch64 architecture, and it runs very well. This solution only needs to change the cross-compilati

[2020-07-23 12:42] giuseppe commented on #421
it takes a significant amount of time :) I'll need to play more with nix and if there is any way we can use a cached build (at least a subset) for cross compiling.  Some of the fixes in the conf file above can probably go into the main `default.nix`; then have a way to override only the `crossSystem = ...` part

[2020-07-23 12:45] saschagrunert commented on #421
Yep, I think using https://cachix.org would be a good way to cache the build dependencies.

[2020-07-25 15:36] dyoung23 opened #437 "How should I do a same performance experiment as README.md showed?"
I try to test the difference between runc and crun same as README.md.
This is my test environment.
[code]
the docker info as below:
[code]
And I did the performance test experiments with runc and crun,and each did three times with this command:
`date ; for i in {1..100} ; do docker run --runtime {runc or crun} --rm centos:latest /bin/true ;done;date
`
and get this result.
[code]
This result is qui

[2020-07-25 17:48] giuseppe commented on #437
the OCI runtime is just a a part of the total cost for running a container using a container engine like Docker or Podman.

The test I've done (which is probably outdated at this point) and showed in the README is done running directly runc and crun.

To prepare the environment you need first to create the container rootfs:

[code]

You can then measure performance for "crun run foo" and "runc run

[2020-07-26 13:36] dyoung23 commented on #437
@giuseppe I measured performance following your guide,but crun and runc got the same result.This is my steps:
[code]

[2020-07-26 14:18] giuseppe commented on #437
I guess it depends on the system, on my current system, Fedora 32 with cgroup v2, using your same test (but 1000 containers) I get:

[code]

I suggest using time -v for measuring time though and I get:

[code]

Ubuntu 16.04 probably has a very old kernel and I've never tested crun performance there.

How did you build crun?

[2020-07-27 02:58] dyoung23 commented on #437
@giuseppe This time I measure it using time too and get:
[code]
Ubuntu 16.04 has a kernel with 4.4.0 version.Is the performance of crun mainly depend on the features of new version kernel rather than the C?
[code]

I built crun following README,this is my steps:
[code]

[2020-07-27 05:39] giuseppe commented on #437
in the results above, I see that crun is using only a small fraction of the resources used by runc, both user and system times are much lower.  It might be that the system gets stuck waiting on something to be ready/completed and that is the reason for such high elapsed time.  Running 100 containers on my machine takes 2-4 seconds, not 20 seconds; so it is most likely getting stuck somewhere in th

[2020-07-27 10:01] dyoung23 commented on #437
@giuseppe
one:I rebuild it follow this steps:
[code]
two:As I have no idea how to drop network namespace,I just deleted network in linux section of config.json like below.Maybe I'm right.
[code]
This time it's much faster than before.
[code]

[2020-07-27 10:44] giuseppe commented on #437
yes that is correct.  Your configuration file looks correct.

So it looks like the biggest cost is in the kernel and the OCI runtime has not much margin to improve the total elapsed time.

[2020-07-28 03:36] dyoung23 commented on #437
@giuseppe OK.Thanks a lot.
But we generally do not use the OCI runtime separately,we use it through container engine like docker and podman or k8s as usual.In these scenarios,whether crun and runc have no much influence to total performance or not.And  do you have some test under k8s using crun ?

[2020-07-28 06:50] giuseppe commented on #437
the cost of the OCI runtime is minimal when using k8s. I'd not expect any measurable difference even if it is brought down to 0, except maybe in some edge cases.

In your first post there are some numbers comparing crun vs runc using Docker.  I think that is what you should expect when running in a more complex environment

[2020-07-28 07:06] dyoung23 commented on #437
@giuseppe OK Thank you!
By the way,do you have a plan to support GPU devices in crun in future?

[2020-07-28 07:16] giuseppe commented on #437
I hadn't but is there anything in particular you'd like to see supported?  Does runc support it?

[2020-07-28 07:46] dyoung23 commented on #437
@giuseppe Just in our use scenarios,I need NVIDIA GPU devices in container.The runtime I used now is nvidia-container-runtime.But it costs much time in running a container with GPU devices.So I try to find some candidates to improve it.